html,body
{
    padding: 0;
    margin: 0;
}

body
{
     background-image: url(../images/images2.jpg) repeat;
    
}
.fl
{
    border: 3px solid;
} 


.aboutus_wrapper
{
    
    position: relative;
    width: 85%;
    background-color: #fff;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
 
   
    
    overflow: hidden;
}

#photoCover
{
   
    width: 100%;
    height: auto;
    margin-bottom: 50px;
   
    
   

    
    
}
#aboutHead 
{
    color: #fff;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    background-color: #c4161c;
    padding: 10px 20px 10px 20px;
    width: auto;
    float: left;
    margin-top: -20px;
    
}
#siderSection 
{
    border: 2px #c4161c solid;
    width: 30%;
    float: left;
    height: 300px;
    margin-right: 20px;
    margin-left: 20px;
    
}
#siderSection p
{
    
    color: #c4161c;
    font-size: 23px;
    padding: 30px 20px 10px 0px;
    line-height:normal;
    font-weight: bold;
    letter-spacing: 2;
    text-align:left;
}
.heading p 
{
    text-align: center;
    font-size: 28px;
    color: #fff;
    padding: 0px 10px;
    background-color: #c4161c;
    height: 50px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    
    
    

}

.aboutSections
{
    
    
    height: auto;
    
    background-color: #fff;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    
    
    
  
    
}
.aboutSections h2
{
   
    
   
    
    
    
    
    color: #fff;

    font-size: 28px;
    
    background-color: #c4161c;
    padding: 10px 20px 10px 20px;
    width: auto;
    margin-left: -15px;
    text-align: center;
    
    
}


#firsparahgraph p
{
    font-size: 15px;
    color :#333;
    
    width: auto;
    
    font-weight: 500;
    padding: 30px 0 5px 10px;
    text-align: -webkit-match-parent;
    
   
    
    line-height: 40px;
    margin-bottom: 20px;
         
    
}

.aboutSections p
{
    font-size: 14px;
    color :#333;
    font-weight: 200;
    padding: 0 0 5px 10px;
     text-align: -webkit-match-parent;
    line-height: 15px;
    margin-left: 30px;
    border-length:50%; 
    
   
    
    
}

.aboutSections ul 
{
    
    margin: auto;
    list-style:square;
    margin-top: 20px;
    margin-bottom: 20px;

    
}
   

.aboutSections ul li
{
    display: list-item;
    line-height: inherit;
    margin: 0;
    padding: 0 0 5px 10px;
    
    font-size:14px;
    text-align: -webkit-match-parent;
    color: #333;
    
  
   
}
.OurPics
{

    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    margin-top: -10px;   
    height: 1300px;
    overflow: hidden;
    padding-left: 50px;
    

   

    

}
.ourPicsContent
{
    margin-top: 100px;
    color: #c4161c;
     float: left;
   
    font-weight: 600;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    font-family: monospace;
    
}
.pics
{
   
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 20px;
    float: left;
    
}
.pics img 
{
    float: left;
}
.ourDescription
{
    margin-top: 20px;
    text-align: left;
    margin-left: 10px;
    float: left;
    width: 250px;
    height: inherit;
    color: #c4161c;
 
    
}