

html,body
{
    margin:0;
    padding: 0;
    color:white;
}

body
{
    background-image: url(../images/images2.jpg);
    background-repeat: repeat;
    color:white;
    font-family: 'Century Gothic';
    align-items: center;
   
    height: auto;
}




#container
{
    border-radius: 25px;
    width:500px;
    font-size: 23px;
    border-width: 5px;
    vertical-align: middle;
    margin-top:auto;
    
    
}

#TC
{
    font-family: 'Century Gothic';
    font-size:12;
    color:white;
    margin-bottom: 130px;
    margin-top:100px;
}

span
{
    font-family:'Century Gothic';
}


input.info
{
    width:250px;
    height:30px;
    border-radius: 5px;
}

#container h3
{
    margin:0;
    padding:0;
}

#btn
{
    float:right;
    height:50px;
    width:100px;
    border:none;
    font-size:20px;
    background-color: crimson;
    border-radius: 10px;
    outline:none;
    font-weight: bold;
    cursor:pointer;
    color:white;
    font-family:'Century Gothic';
    
}

#btn:hover
{
    background-color: darkred;
}
    


input.info:focus
{
    border-style:solid;
    border-color: gold;
    border-width: 3px;
    overflow: hidden;
    outline: none;
}
