
body
{
    background: url(../images/images2.jpg) repeat;
    margin: 0px;
    padding: 0px;
    background: url(../images/images2.jpg);
}

.hall_main_wrapper
{
    width: 80%;
    position: relative;
    margin-right: 80px;
    margin-left: 70px;
    
    margin-bottom: 50px;
   float: right;
  
    
   
 
    
    
    
    
}
#photoCover
{
    background: url(../images/coverHall.jpg) no-repeat;
    width: 70%;
    overflow: hidden;
    border-radius: 10px;
    height: 400px;
    margin-left: 270px;
    align-content: center;
    margin-top: 100px;

    
    
}

#photoCover h1
{
    margin-top:320px; margin-left:20px;font-weight: 900;  font-family: 'Times New Roman', Times, serif;
 font-size:42px;font-style:bold; 
color:#000 ;
}
#photoCover p
{
    margin-left:20px;
    margin-top: -15px; font-family: 'Times New Roman', Times, serif;
 font-size:22px;font-style:bold; color:#000 ;
    
}

.halls_wrapper
{
    position: relative;
    top: 10px;

    width: 90%;
    height: auto;
    align-items: center;
    align-content: center;
    margin: 5px auto 30px 80px ;
   
   
   
    
}
    


/*******************************   stars css   ***************************************/

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
    content: "\2605";
    float: left;
}



.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
    content: "\2605";
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}