@font-face
{
    font-family:Invited;
    src:url('../fonts/YoureInvitedHeavy.otf');
}


html, body
{
    margin:0;
    padding: 0;
    font-family: 'Century Gothic';
    color:white;
    background:url("../images/images2.jpg") repeat;

}




#header
{
    height: 50px;
    z-index:999999;
    margin-top: 0;
background-color:black;
    opacity:0.8;
    
    position:absolute;
    top:0;
    right:0;

    /*background-color: aqua;*/
    
}

#nav_bar
{
    height:45px;
    float:right;
    z-index:999999;
    width:1205px;
    opacity:0.8;
    margin-top:2.5px;
    margin-bottom: 2.5px;

}



a.navigation
{
    padding-right:20px;
    padding-bottom: 10px;
    padding-top:10px;
    padding-left:20px;
    text-decoration-style: double;
    text-decoration:none;
 float:right;
    font-size: 20px;
    color:white;
    margin:auto;
    text-align: center;
    background-color: black;
    
    
}

input.navigation
{
    border-radius:2px;
    width:250px;
    float:right;
    margin-left:20px;
    margin-bottom: 10px;
    margin-top:10px;
    margin-right:20px;
    
}


a.navigation:hover
{
    color:black;
    background-color:darkgray;
    border-radius:5px;
 
    

}
