
body
{
    background-color: #7cc2cb;
    margin: 0px;
    padding: 0px;
    background: url(../images/images2.jpg) repeat;
}
 
.hall_main_wrapper
{
  
    width: 80%;
    position: relative;
    margin-right: 80px;
    margin-left: 120px;
    
    margin-top: 20px;
    margin-bottom: 50px;
    overflow: hidden;
   float: right;
    
      
  
  
    
}
#photoCover
{
    background: url(../images/cam.jpg) no-repeat;
    width: 70%;
    overflow: hidden;
    border-radius: 10px;
    height: 400px;
    margin-left: 270px;
    align-content: center;
    margin-top: 100px;
    
     

    
    
}

#photoCover h1
{
    margin-top:320px; margin-left:20px;font-weight: 900;  font-family: 'Times New Roman', Times, serif;
 font-size:42px;font-style:bold; 
color:#000 ;
}
#photoCover p
{
    margin-left:20px;
    margin-top: -15px; font-family: 'Times New Roman', Times, serif;
 font-size:22px;font-style:bold; color:#000 ;
    
}

.halls_wrapper
{
   
    
  
    
  position: relative;
    top: 10px;

    width: 90%;
    height: auto;
    align-items: center;
    align-content: center;
    margin: -25px auto 30px 80px ;
   
    
    
 
   
   
   
    
}
 
.section
{
    margin-bottom:15px;
    padding-bottom: 10px;
    
    border-bottom: 5px solid #fff;
    width: 200px;
    padding-top: 20px;
    padding-left: 10px;
      align-content: center;
    
}
.ourDescription
{
     margin-top: 20px;
    text-align: center;
    float: left;
    width: 250px;
    color: #fff;
 
    
}
.divisions a:hover
{
    text-decoration: none;
    color: #333;
    
}

/*******************************   stars css   ***************************************/

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
    content: "\2605";
    float: center;
}



.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
    content: "\2605";
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}