*
{
	
}

/* ============================== This is for Overall Styling of the Content Gallery. */
.gallery-container
{
    padding-left: 15px;
	
	display:table;
}
.gallery
{
	width:1150px;
	height:1000px;
	
	/*border:2px solid green;*/
}

.slider
{
	
}
.slider ul
{
	width:100000px;
	list-style:none;
	margin-left:0px;
}
.slider li
{
	float:left;
}

/* ============================== This is for Navigation Buttons Styling. */
.slider-nav
{
	display:none; /* This is important to hide the buttons if jQuery is Not supported. */
	margin-top: -10em;
	
}

.backbtn
{
	position:relative;
}

.nextbtn
{
	position:relative;
}

/* ============================== This is for Pagination Styling. */
.slider-pagi
{
	/*border:2px solid red;*/
	text-align:center; /* Important : Keeps the Pagination in the center. */
	width:1150px;
}

.pagi-container
{
	
	padding-top: 100px;
	display: inline-block;  /* This is a good alternative for inline-flex and supports most of the browsers. */
	/* display: inline-flex; */ /* This is important to remove the extra vertical spaces  between 'UL' and 'pagi-container' */
}

.pagi-container > ul
{
	padding:2px;
	/*border:1px solid black;*/
	display: inline-block;
	text-align: center;
}

.pagi-container > ul li
{
	/* float:left; */ /* Instead write "display:inline-block" Property to set the pagi-elements in center. */
	list-style:none;
	padding:0px; /* Setting padding as zero will increase clickable region of child('a' Anchor Element) of LI element */
	border:1px solid red;
	margin: auto;
	display:inline-block;
	background: radial-gradient(rgba(255, 255, 255, 0.8) 50%, rgba(180,180,180,0.8));	
}

.pagi-container > ul li:hover
{
	background: radial-gradient(rgba(220, 220, 220, 0.3), rgba(180,180,180,0.8) 95%);
}

.pagi-container > ul li a
{
	display:inline-block;
	padding:10px; /* This is important to Increase the Clickable Region of the anchor Elements */
	text-decoration:none;
	color:rgb(100,100,100);
}

/* ============================== This is for Styling Each of the Content Slides */
.slides
{
	width:1150px; /* This width is reduced to compensate the padding on left and right */
	height:1000px; /* This height is reduced to compensate the padding on top and bottom */
	word-wrap:break-word; /* Avoids the Text Overflow, and breaks the long Strings/ Sentences on next line. */
	/*background-color:rgb(198,185,221);		*/
}

.slides_content
{
	position:relative; /* Keeps the Slides Content Relative to each Slide */
	width:100%;
	height:100%;
}
h3
{
	position:absolute;
	width:100%;
	top:50px;				
}
h3 span.slides_texts
{
   color: white;
   padding:10px;
   letter-spacing: 1px;
   background: rgba(0, 0, 0, 0.5);
   line-height:42px;   
}

h3 span.slides_heading
{
	color: white;
	display:table;
	margin:0px auto;
	background: rgba(0, 0, 0, 0.5);
	padding:10px;
}

h3 div.text_container
{
	margin:10px;
}

.bg_img
{
	width: 100%;
	height: 100%;
}


