
html,body
{
    padding: 0;
    margin: 0;
}

body
{
    background-image: url(../images/images2.jpg);
    background-repeat: repeat;
    font-family: 'Century Gothic';
    color:white;
    letter-spacing: 1px;
}

#foot
{
    width:1345px;
    height:330px;
}

#intro
{
    padding:30px;
    
    font-size: 20px;
    width:700px;
    margin:auto;
    
}

iframe
{
    padding:0;
    margin: 0;
}
#dj_wrapper
{
    width:1345px;
    height: auto;
    vertical-align: center;
}

#body_wrapper
{
    width:800px;
    margin:auto;
    height: auto;
    margin-top:30px;
    margin-bottom: 50px;
    z-index:333;
}

.entries
{
    background:inherit;
    border-width: 3px;
    border-color: red;
    border-style: solid;
    height:170px;
   
    border-radius: 10px;
    width:700px;
    margin:auto;
    margin-bottom: 20px;
}



.dj_image
{
    background-color: black;
    width:140px;
    height:140px;
    margin:2.5px 2.5px 2.5px 2.5px;
    border-radius:50%;
    float:left;
    
}



.inner_content
{
    width:500px;
    height:auto;
   
    margin:10px;
    margin-left:20px;
    float:left;
}

.dj_name
{
    text-decoration-style: double;
    letter-spacing: 1px;
    font-size: 24px;
    margin:10px;
    margin-left:20px;

}

.info
{
    letter-spacing: 1px;
    font-size: 15px;
    margin:5px;
    margin-left:20px;

}

div.hidden
{
   display:none; 
}

