


html,body
{
    margin:0;
    padding: 0;
}

body
{
    font-family: 'Century Gothic';
    color:white;
}

footer_wrapper
{
   
    
    padding: 0px;
    margin: 0px;
    width: 1345px;
    
}
/********************************************** Search Bar CSS *******************************/
.searchBar_content                         /* wrapper of search bar*/
{
   
   background: url(../images/bg-search.png);
    width: 1345px;
    height: 80px;
    margin: 0px;
    padding: 0px;
        
}
.searchBar_content p                      /* first of search bar*/
{
    background: inherit;
    float: left;
    text-align: center;
    color: #777777;
    font-size: 30px;
     margin: 25px 0px auto 100px;
    
}  
#findBar                                 /* first search */
{
    float: left;
    border: 2.5px solid #777777;
    color: #a9a9a9;
    width: 550px;
    height: 50px;
    background: inherit;
    padding: 20px auto auto 10px;
    margin: 15px 40px auto 60px;
    font-size: 22px;
    padding-left: 10px;
    
}
#findBtn                                 /* Find Button*/
{
    float: left;
    border: 2.5px solid #777777;
    color: dimgray;
    width: 200px;
    height: 50px;
    font-family: 'Century Gothic';
    text-align: center;
    vertical-align: center;
    font-size: 18px;
    padding-top: 10px;
    margin: 15px 35px auto 0px;
    cursor:pointer;
    border-radius: 5px;

}
/********************************************** Footer Bar content *******************************/
.footerBarWrapper
{
    float: left;
    background: url(../images/bg-footer.png);
    width: 1345px;
    height: 250px;
  
}
.subFooterContent
{
    background: inherit;
    border: 0.5px solid #777777;
    float: left;
    width: 320px;
    height: 200px;
     border: 0.5px solid #777777;
    margin: 20px auto auto 120px;
   
    
}
.subFooterContent h1
{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
}
.subFooterContent p
{
    color: #cccccc;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#findBtn:hover
{
    background-color: lightblue;
}



