
body
{
    background: url(../images/images2.jpg) repeat;
    margin: 0px;
    padding: 0px;
    background: url(../images/images2.jpg);
}

.hall_main_wrapper
{
    position: relative;
    width: 80%;
    position: relative;
    margin-right: 90px;
    margin-left: 10px;
    
    overflow-x: hidden;
    overflow-y: hidden;
   float: right;
  
    
   
 
    
    
    
    
}
.halls_wrapper
{
    position: relative;
    top: 10px;
    width: 90%;
    height: auto;
    bottom: 10px;
    align-items: center;
    align-content: center;
    margin: 10px auto 10px 80px ;
   
   
   
    
}
    


/*******************************   stars css   ***************************************/

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
    content: "\2605";
    float: left;
}



.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
    content: "\2605";
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}