
html, body
{
    padding:0;
    margin:0;
}

body
{
   background-image:url(../images/images2.jpg);
    background-repeat: repeat;
    font-family:'Century Gothic';
    color:white;
    
}

.ex_content 
{
    width:1200px;
    height:auto;
    margin:auto;
}

#sli{

    position:relative;
}

#wrapper
{
    max-width:1345px;
    height:auto;
    margin:auto;
}


#content
{
    height:auto;

}
#footer
{
    width:1345px;
    position:absolute;
    left:0;
    right:0;
    align-self:bottom;
    height:330px;
    top:2280px;
    margin-bottom: 0;
    margin-top:0;
    
}

#footer_div
{
    margin-top:auto;
    align-content: bottom;
    z-index:-324;
}

#lower_page
{
    width:100%;
    position:relative;
    left:0;
    right:0;
    top:100px;
    height:1000px;
    
}





a.navigation
{
    padding-right:20px;
    padding-bottom: 10px;
    padding-top:10px;
    padding-left:20px;
    text-decoration-style: double;
    text-decoration:none;
    margin-top:20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 25px;
    color:floralwhite;
    text-align: center;
    
    
}

#upper_divs, #lower_divs
{
    width:1345px;
    height:300px;
    z-index:-4324;
    
    
}
#lower_divs
{
    margin-top: 30px;
}


p#heading
{
    font-family: 'Century Gothic';
    font-size: 28px;
    line-height: normal;
    padding-left: 25px;
    padding-right: 25px;
     margin-left: 25px;
    margin-right: 25px;
    margin-top: 0;
}


.context
{ 
    width:280px; 
    height:270px; 
    
    border-radius:15px;
    color:white;
    float:left;
}

#photographer
{
    background: url(../images/photo.jpg) no-repeat;
    background-size:100% 100%;
    margin-left: 130px;
}

#halls
{
    background: url(../images/halls.jpg) no-repeat;
    background-size: 100% 100%;
    margin-left: 130px;
}
#dj
{
    background: url(../images/dj.jpg) no-repeat;
    background-size: 100% 100%;
    margin-left: 320px;
}

#caterer
{
    background: url(../images/caterer.jpg) no-repeat;
    background-size: 100% 100%;
    margin-left: 130px;
}

#decorator
{
    background: url(../images/decoration.jpg) no-repeat;
    background-size: 100% 100%;
    margin-left: 130px;
}

.hoverText
{ 
    width:280px;
    height:270px;
    background:#FFF; 
    opacity:0;
    border-radius:15px;
    color:white;

}

.context a
{
    text-decoration: none;
    color : white;
    text-align: center;
}

.context:hover .hoverText
{
    transform: rotateY(360deg);
    transition: 1s;
    opacity:0.6;
    text-align:center;
    color:#000000; 
    font-size:30px; 
    
    font-family:"Century Gothic";
    
}  


