
body
{
    background-color: #7cc2cb;
    margin: 0px;
    padding: 0px;
    background: url(../images/images2.jpg) repeat;
}
 
.hall_main_wrapper
{
     width: 80%;
    position: relative;
    margin-right: 10px;
   float: right; 
     margin-bottom: 50px;
    
    
}
.halls_wrapper
{
    position: relative;
    top: 10px;
    width: 100%;
    height: auto;
    align-items: center;
    align-content: center;
     margin: 50px auto auto 50px ;
 
   
   
   
    
}
.content
{
   
    width: 50%;
    height: auto;
    float: left;
    text-align: justify;
    font-size: 16px;
    font-weight: 200;
    color: #333;
    margin-top: 40px;
    padding-left: 40px;
    
    line-height: 25px;
    
}

    
.divisions
{
    width: auto;
    margin-top: 10px;
    padding: 10px;
    float: left;
    height: 380px;
    align-content: center;
    text-decoration: none;
    margin-right: 20px;
   border: 2PX solid #fff;
    border-bottom: 2px solid #fff;
    color: #fff;
    
   
    
    
    
}
.ourDescription
{
     margin-top: 20px;
    text-align: center;
    float: left;
    width: 250px;
    color: #fff;
 
    
}
.divisions a:hover
{
    text-decoration: none;
    color: #333;
}

/*******************************   stars css   ***************************************/

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
    content: "\2605";
    float: center;
}



.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
    content: "\2605";
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}