
iframe{
    height: 330px;
    width: 1345px;; 
    
}






body {
  margin: 0;
  padding: 0;
background: url(../images/images2.jpg);
    background-repeat: repeat;
   
    height:auto;

    
}
html { 
   margin: 0;
  padding: 0;
    font-family: 'Century Gothic'
} 




.container {
  max-width: 940px;
  margin: 0 auto;
  padding-bottom:20px;
}
.slider{
    padding-left: 30px;
    
}
.jumbotron {
    height: 535px;
}


.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 70px;
  text-decoration: none;
  text-transform: uppercase;
}

#btn
{
   
     text-align: center;
    height:50px;
    width:150px;
    border:none;
    font-size:20px;
    background-color: crimson;
    border-radius: 10px;
    outline:none;
    font-weight: bold;
    cursor:pointer;
    color:white;
    font-family:'Century Gothic';
    
}
.showmore{
    padding-left: 500px;
}
#btn:hover
{
    background-color: darkred;
}
    


.supporting {
    padding-left: 150px;
  padding-top: 80px;
  padding-bottom: 100px;
   
}

.content-test {
     border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 3px solid #fff;
    padding: 20px; 
    padding-top: 50px;
    
   
}

.content-grids {
    padding: 13px;
   
}

.supporting h2 {
    color: cornflowerblue;
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
    color: floralwhite;
    font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

.header {
  background-color : #333333;
}


@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  
.showContent{
    height: auto;
}


.show-more {
    text-align: center;
}
