
/* This just adds some style to the placeholder text */

#content {
	width: 600px;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
       padding-bottom: 70px;
}

#content img {
	padding-top: 30px;
	 padding-bottom: 70px;
}

.socio-bar{
    padding-right:100px;
}

iframe{
    height: 350px;
    width: 1400px;; 
    
}





body {
  margin: 0;
  padding: 0;
}



#decorators p.ours{
    
  font-family: serif;
    font-size: 50px;
    font-style: normal;
    background-color: cornsilk;
    border-radius: 10px 10px 10px 10px;
    width:500px;
    height: 40px;
}

#decorators
{
 
    align-content: center;
    
}

.deco {

        padding-left: 50px;
}

#decorator-des
{

    
    
    width:auto;
     font-size: 30px;
    text-align: center;
    padding-left: 100px;
        padding-right: 100px;
    font-family:cursive ;
    font-style: italic;
    text-decoration-style: solid;
    
    justify-content: center;
    padding-bottom: 50px;

    


}


a {
  color : #fff;
    
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  height: 535px;
    background-color: chocolate;
   
}
#decorators{

    padding-left: 50px;
    
    
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.main-content{

    padding-left: 150px;
}

fieldset{
border-radius: 50px;
border-width: 8px;
}
.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}