/* :: Responsive Design
-------------------------------------------------- */


/* :: Typography
-------------------------------------------------- */
	
	@media handheld, only screen and (max-width: 767px) {
		h1 { font-size: 32px; font-size: 3.2rem; line-height: 1.3; }
		h2 { font-size: 28px; font-size: 2.8rem; line-height: 1.3; }
		h3 { font-size: 21px; font-size: 2.1rem; line-height: 1.3; }
		h4 { font-size: 18px; font-size: 1.8rem; line-height: 1.2; }
		h5 { font-size: 16px; font-size: 1.6rem; line-height: 1.2; }
		h6 { font-size: 15px; font-size: 1.5rem; line-height: 1.2; }
		body, p {  font-size: 15px; font-size: 1.5rem; line-height: 1.4; }
	}


/* :: Grid
-------------------------------------------------- */

@media only screen and (max-width: 1024px) {
	
	.main-wrap,
	.slider-wrap,
	#primary-wrapper .nv-sortable.row,
	.row { max-width: 762px;min-width:0; }
	#header-wrap,
	#header,
	#header-bg {width:240px;}
	.slider-wrap,
	.main-wrap {margin-left:240px;}
	div.custom-layer .nv-sortable.row {padding-left:240px;}

	.tva-wide-layout div.main-wrap,
	.tva-wide-layout div.slider-wrap {
	  max-width: -moz-calc(100% - 240px);
	  max-width: -webkit-calc(100% - 240px);
	  max-width: calc(100% - 240px);
	}	
	
}
	

@media only screen and (device-width: 768px),
       only screen and (max-width: 768px) {

	#header,
	#header-wrap,
	#header-wrap.fixed {position:relative;width:100%;height:auto;}
	
	#header-wrap.auto-hide {position:relative !important;width:100%;height:auto;}
	
	.row { width: auto; min-width: 0; max-width:100%; }
	
	.tva-wide-layout div.main-wrap,
	.tva-wide-layout div.slider-wrap {max-width:100%;}
	
	.row.custom-row {margin:0 0 20px 0;}
	
	.sticky-wrapper {height: auto !important;}
	#header-bg {position:absolute;width:100%;}
	
	.row.custom-row.parallax {background-position:50% 50% !important;background-size:cover;background-attachment:local;}
	
	#header-logo {margin-bottom:20px;}
	#header-logo h2.description {margin-bottom:0;}
	
	.styledbox.fonticon-center,
	.nv-pricing-title.icon {margin-top:45px;}
		
	.post-metadata .category-list,
	.post-metadata .tags-list  {clear:both;display:table;margin-left:auto;margin-right:auto;}

	.post-metadata .category-list li,
	.post-metadata .tags-list li  {float:left;margin:5px;}
	
	ul.dock-panel ul.dock-tab-wrapper {left:50%;margin-left:-125px;top:45px;}
	
	#header-wrap #nv-tabs {margin:0 auto;clear:both;height:0;overflow:hidden;width:260px;}
	#header-wrap #nv-tabs.show {height:auto;margin-top:15px;margin-bottom:15px;}
	
	.trigger-menu {width:100%;height:50px;}
	
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {float:none;margin-right:0;clear:both;width:100%;text-align:center;}
	.woocommerce ul.products li.product a img,
	.woocommerce-page ul.products li.product a img,
	.woocommerce .products .star-rating,
	.woocommerce-page .products .star-rating {margin:0 auto;}

	.zoomflow .currItem .controlsCon > .arrow-left, .zoomflow .currItem .controlsCon > .arrow-right {opacity:1 !important;}
	
	.slider-wrap,
	.main-wrap,
	#header-wrap {margin-left:0;max-width:100%;}
	
	.slider-wrap,
	.main-wrap {overflow:hidden;}
	
	#primary-wrapper .panel {margin:0 !important;}
	#primary-wrapper .grid-gallery.masonry .panel {max-width:none !important;}
	#primary-wrapper .grid-gallery.masonry .panel.twelve_column	{ width: 8.33333% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.six_column	{ width: 16.66667% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.four_column	{ width: 24.999999% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.three_column	{ width: 33.33337% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.five_column	{ width: 20% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.two_column	{ width: 50% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.seven_column 	{ width: 14.285% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.eight_column	{ width: 12.5% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.nine_column	{ width: 11.11111% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.ten_column	{ width: 10% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.eleven_column	{ width: 9.09% !important; }
	#primary-wrapper .grid-gallery.masonry .panel.one_column 	{ width: 100% !important; }	
	
	#primary-wrapper .grid-gallery.masonry .panel .caption-wrap,
	#primary-wrapper .carousel .caption-wrap {display:none !important;}
	
	
	#primary-wrapper.fullslider-active div.autototop {display:none !important;}

	.main-wrap,
	#header-bg { border-width: 0 0 1px 0; }	
	
	ul.dock-panel li.dock-tab.mobile-social,
	ul.dock-panel li.dock-tab.mobile-menu,
	ul.dock-panel .dock-tab li.dock-tab.socicons {display:inline-block;}
	ul.dock-panel li.dock-tab.socicons {display:none;}
	
	
	.custom-layer.fullslider .control-wrap,
	.custom-layer.fullslider .slidernav-left,
	.custom-layer.fullslider .slidernav-right {display:none !important;}

	.alignleft, .alignright,
	.mediawrap { float: none !important; margin: 0 auto !important; margin-bottom: 15px !important; }
	.nextprevious_posts .alignright {float:right !important;}
	
	body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
  
	.wrapper { min-width: 0; margin-left: 0; margin-right: 0; }
	.row,
	.main-wrap,
	.slider-wrap { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
	.main-wrap { width:100%; }
	
	#primary-wrapper .columns {margin-left:0;}
	
	#primary-wrapper .column, #primary-wrapper .columns,
	.blockquote_quotes { width: 100% !important; max-width:100%; float: none; margin-bottom: 15px;margin-left:0; }
	.nv-pricing-plan,
	.effect-wrap.textimageleft, .effect-wrap.textimageright { width: 100% !important; max-width:100%; }
	[class*="column"] + [class*="column"]:last-child { float: none; }
	.column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
	.column:after, .columns:after { clear: both; }
	
	div.autototop a {left:50%;margin-left:-20px;}
	
	.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten { margin-left: 0 !important; }
	.push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
	.pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
	/* Mobile 4-column Grid */
	.row .mobile-one { width: 25% !important; float: left; padding: 0 15px; }
	.row .mobile-one:last-child { float: right; }
	.row .mobile-one.end { float: left; }
	.row.collapse .mobile-one { padding: 0; }
  	.row .mobile-two { width: 50% !important; float: left; padding: 0 15px; }
  	.row .mobile-two:last-child { float: right; }
	.row .mobile-two.end { float: left; }
	.row.collapse .mobile-two { padding: 0; }
	.row .mobile-three { width: 75% !important; float: left; padding: 0 15px; }
	.row .mobile-three:last-child { float: right; }
	.row .mobile-three.end { float: left; }
  	.row.collapse .mobile-three { padding: 0; }
	.row .mobile-four { width: 100% !important; float: left; padding: 0 15px; }
	.row .mobile-four:last-child { float: right; }
	.row .mobile-four.end { float: left; }
	.row.collapse .mobile-four { padding: 0; }
	.push-one-mobile { left: 25%; }
	.pull-one-mobile { right: 25%; }
	.push-two-mobile { left: 50%; }
	.pull-two-mobile { right: 50%; }
	.push-three-mobile { left: 75%; }
	.pull-three-mobile { right: 75%; }
		
		
	.nv-pricing-table .nv-pricing-plan,
	#header #nv-tabs,
	#item-body div.message-search {float:none !important;clear:both !important;}		
		
	.nv-pricing-table .nv-pricing-plan,
	#item-body div.message-search {
		margin:0;
	}
	
	.accordion-gallery-wrap,
	.slider-3d-wrap,
	#th-poster,
	#th-group,
	#th-email-sub,
	.td-group,
	td.td-poster,
	td.thread-avatar,
	td.td-email-sub,
	td.td-group .object-name,
	.gallerytitle,
	.stagetext,
	.stagetextwrap,
	.animator-wrap,
	.checkout_cart .wpsc_product_image {display:none !important;visibility:hidden;}
	.columns .columns-inner {height:auto !important;}
	#nv-tabs.center {display:block;}
		
	.tweets {height:100% !important;}
		
	.checkout_cart .wpsc_product_name {padding-left:0;}
		
	.group-slider .slidernav-left,
	.group-slider .slidernav-right {display:block !important;}
		
	.gallery-wrap .groupslides-wrap .panel:last-child {margin-bottom:0 !important;}

	table.forum tr td, #topic-post-list li, table#message-threads tr td {padding:20px 5px !important;}
	li span.unread-count, 
	tr.unread span.unread-count {font-size:50%;}
	#message-threads span.activity,
	td.thread-options {font-size:65%;}
		
	div.forums-search-wrap {float:left !important;clear:both !important;width:100%;text-align:right;margin-bottom:15px;}
	#forums-search-form {position:relative !important;right:0 !important;}
	#forums_search {width:100%;}
			
	.grid-gallery .panel {width:100% !important;height:auto !important;}
	.lowfooterright {text-align:left;}
	
	#header-wrap.idle,
	#header-wrap.idle #header-bg {
 	 left:0;
	 top:-500px;
	}

	#header-wrap.idle-css3 {
	 transform: translateX(0) translateY(-100%); 
	 -webkit-transform: translateX(0) translateY(-100%);
	}	
	
	.menu-sidebar-panel {display:none;}
	
	.header-inner {overflow:visible;}
		
}


/* -------------------------------------------------- 
	:: Mobile Visibility Affordances
---------------------------------------------------*/

	@media only screen and (max-device-width : 480px) {
		.stage .caption.title h3,
		.stage .caption.title h3 a {font-size:20px;}
		.stage .caption.content {display:none;}
	}
	
	.show-on-phones { display: none !important; }	
	.show-on-tablets { display: none !important; }
	.show-on-desktops { display: block !important; }
	
	.hide-on-phones { display: block !important; }	
	.hide-on-tablets { display: block !important; }
	.hide-on-desktops { display: none !important; }
	
	
	/* Modernizr-enabled tablet targeting */
	@media only screen and (max-width: 1280px) and (min-width: 768px) {
		.touch .hide-on-phones { display: block !important; }
		.touch .hide-on-tablets { display: none !important; }
		.touch .hide-on-desktops { display: block !important; }
		
		.touch .show-on-phones { display: none !important; }
		.touch .show-on-tablets { display: block !important; }
		.touch .show-on-desktops { display: none !important; }
	}
	
		
	@media only screen and (max-width: 767px) {
		.hide-on-phones { display: none !important; }
		.hide-on-tablets { display: block !important; }
		.hide-on-desktops { display: block !important; }
		
		.show-on-phones { display: block !important; }
		.show-on-tablets { display: none !important; }
		.show-on-desktops { display: none !important; }
	}

	@media only screen and (max-width: 768px) {
		.gallery-wrap .animator-wrap {display:none !important;visibility:hidden;}
		.show-on-tablets { display: block !important; }	
	}	
	
	/* Specific overrides for elements that require something other than display: block */
	
	table.show-on-desktops { display: table !important; }
	table.hide-on-phones { display: table !important; }	
	table.hide-on-tablets { display: table !important; }
	
	@media only screen and (max-width: 1280px) and (min-width: 768px) {
		.touch table.hide-on-phones { display: table !important; }
		.touch table.hide-on-desktops { display: table !important; }
		.touch table.show-on-tablets { display: table !important; }
	}
	
	@media only screen and (max-width: 767px) {
		table.hide-on-tablets { display: table !important; }
		table.hide-on-desktops { display: table !important; }
		table.show-on-phones { display: table !important; }
	}