/* 
Theme Name: ePix
Theme URI: http://www.themeva.com/
Author: themeva
Version: 1.0.7
Description: ePix Responsive Wordpress Theme
Author URI: http://www.themeva.com/
License: GNU General Public License
License URI: license.txt
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, custom-colors, custom-menu, featured-images, full-width-template, post-formats, rtl-language-support, theme-options, translation-ready, buddypress
*/


/*	:: TABLE OF CONTENTS
--------------------------------------------- 

:: Reset
 
:: Links
:: Typography
:: Images
:: Lists
:: Tables
:: Forms
:: Contact Form
:: Search
:: Comments
:: Misc

:: Background Layers 
:: Header
:: Header Infobar
:: Drop Panel
:: Main
:: Footer

:: Navigation
:: Breadcrumbs
:: Pagination
:: Twitter Feed
:: Text Resize
:: Social Icons
:: Widgets
:: Calendar Widget
:: Gallery Widget

:: Galleries Reset
:: Stage Gallery
:: Group Slider Gallery

:: Gallery Shortcodes

:: Button Shortcode / Forms
:: Blockquotes Shortcode
:: Horizontal Break Shortcode
:: Font Icon Shortcode
:: Styled Box Shortcode
:: Highlights Shortcode
:: jQuery Accordion
:: jQuery Tabs Shortcode
:: jQuery Reveal Shortcode
:: Drop Caps Shortcode
:: jQuery Tooltips Shortcode
:: jQuery Content Animator

:: e-Commerce

:: css3 transitions
:: fancyBox Lightbox
 
*/


/*	:: Reset
--------------------------------------------- */

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 
 vertical-align: baseline;
}

html { }
body { 
}

html, 
body {
 width:100%;
 min-height:100%;
 height:100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block;}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; direction: ltr; }

span.nvcolor {
 position:absolute;
 z-index:-1;
 right:2px;
 top:2px;
 width:25px;
 height:25px;
}

hr { height:4px;border:0;}

div.list li:before,
#searchsubmit,
.slidernav a:before,
.control-panel ul li a,
span.tooltip-icon,
.contactform input[type="submit"],
.post.sticky .post-titles:before {
 font-family: FontAwesome;
}


/*	:: Links
--------------------------------------------- */

a,
.nvcolor {
 transition-property: all;
 -webkit-transition-duration: 200ms;
 -webkit-transition-timing-function: ease-in-out;	
 -moz-transition-duration: 200ms;
 -moz-transition-timing-function: ease-in-out;	
 -o-transition-duration: 200ms;
 -o-transition-timing-function: ease-in-out;	   
 text-decoration: none;
 outline: none; /* firefox fix */
}

div.autototop  {position:absolute;z-index:1000;}

div.autototop a { 
 z-index: 999; 
 position: fixed;
 top: 100%;
 margin-top: -60px;
 left: 130px;
 margin-left:-20px;
 width:40px;
 height:40px;
 line-height:38px;
 text-align:center;
 opacity:0;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter:alpha(opacity=0); 
 border-width:1px;
 border-style:solid;
 border-color:transparent;
}

div.autototop a.show {
 -webkit-animation: zoom-in-out 0.5s ease-out;
 -moz-animation: zoom-in-out 0.5s ease-out;
 -ms-animation: zoom-in-out 0.5s ease-out;
 -o-animation: zoom-in-out 0.5s ease-out;
 animation: zoom-in-out 0.5s ease-out;
 z-index:1;
 display:block;
}

div.autototop a.show {
 opacity:1;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter:alpha(opacity=100);
}


/*	:: Typography
--------------------------------------------- */

p,
.entry  {line-height: 1.7;}
p 		{margin: 0 0 18px;}

strong {font-weight:bold;}


#header-logo h1 { font-size: 44px; font-size: 4.4rem;}

.intro-text .post-titles h1,
.intro-text .post-titles h2,
.nv-pricing-title h4,
.caption-wrap h3,
div.gallery-title h4,
h4.reveal {margin-bottom:0;font-weight:300;}

.post-titles h1,
.post-titles h2 {
 -ms-word-wrap: break-word;word-wrap: break-word;
}

.intro-text .post-titles h1 {line-height:normal;margin-bottom:5px;}


body div.gallery-title h4,
body div.gallery-title h4 a,
body h4.reveal,
body h4.reveal a {font-size:16px !important; font-size:1.6rem !important;}

.intro-text .post-titles h2,
.skinset-header .description,
.widget_display_topics li div,
.widget_display_replies li div {font-weight:300;}

.nv-recent-posts h4 {font-weight:300;}
.nv-recent-posts p  {margin-bottom:10px;}
#content .nv-recent-posts li {list-style:none;}

.format-quote header h2,
.intro-text .post-titles h2,
.skinset-header .description {font-size:14px; font-size: 1.4rem;} 

acronym, abbr {border-bottom: 1px dashed;}
acronym, abbr, span.caps {cursor: help;}

small {font-size:85%;}

code,
pre { font-family:"Courier New",Courier,monospace; }

code {
 width:auto;
 line-height:20px;
 color:#777;
 font-style:italic;
 clear:both; 
}

sub {vertical-align:sub;}
sup {vertical-align:super;}
pre {padding:5px;white-space:pre-wrap;margin-bottom:10px;}

i,em {
 font-style:italic;
}

span.price-per {font-size:95%;}

a.read-more {float:right;}
a.read-more i {font-size:1.4em;}


/*	:: Images
--------------------------------------------- */

img {-ms-interpolation-mode:bicubic;background:transparent;height:auto;}

img,
object,
embed,
iframe {max-width: 100%;}

.revslider-container iframe {max-width:none;border:none;}

a:focus,
object:focus,
embed:focus {outline:none;}

#map_canvas img, 
.map_canvas img {max-width: none!important;}

.accordion-gallery li img.accordion-img {max-width:none;height:100%;}

.preload { min-height:50px;min-width:50px;height:100%; }


.blackwhite,
.effect-wrap {position:relative;display:block;}
.blackwhite canvas,
.blackwhite img.ieFix {z-index:1;max-height:100%;}


/*	:: Lists
--------------------------------------------- */


ul ul,
ol ol {margin-bottom:0;margin-top:12px;}

ul { list-style: none outside; }
ol { list-style: decimal; }

li,
ul, 
ol { margin-bottom: 12px; }

.entry ol,
.entry > ul,
.entry > ul ul,
.wpb_wrapper > ul,
.wpb_wrapper > ul ul {margin-left:15px;}

.entry ul li { list-style: disc;}

div.list ul li,
#content .widget,
#content .widget > ul li,
#content .widget ul.menu li {list-style:none;}

div.list ul,
.widget > ul {margin-left:0;}

div.list ul li {padding-left:20px;}

div.list li:before {
  display: inline-block;
  margin-left: -1.2em;
  margin-right:5px;
  width: 1.2em;	
}

div.list.bullet li:before {content: "\2022";font-family:Verdana, Geneva, sans-serif;font-weight:bold;text-indent:2px;}
div.list.info li:before   {content: "\F129";}
div.list.arrow li:before  {content: "\F105";}
div.list.cross li:before  {content: "\F00D";}
div.list.check li:before  {content: "\F00C";}

div.list.black li:before 		{ color:#000 }
div.list.blue-lite li:before 	{ color:#59ACE3; }
div.list.blue li:before 		{ color:#5198C9; }
div.list.green li:before 		{ color:#4DBF7E; }
div.list.green-lite li:before 	{ color:#52D78B; }
div.list.grey-lite li:before	{ color:#CACFD2; }
div.list.grey li:before 		{ color:#99A3A4; }
div.list.orange-lite li:before 	{ color:#ED9845; }
div.list.orange li:before 		{ color:#DE7627; }
div.list.pink-lite li:before 	{ color:#B078C7; } 
div.list.pink li:before 		{ color:#A666BF; }
div.list.purple-lite li:before 	{ color:#536487; }
div.list.purple li:before 		{ color:#354C63; }
div.list.red-lite li:before 	{ color:#EE6F5F; }
div.list.red  li:before 		{ color:#CF5F52; }
div.list.teal-lite li:before	{ color:#40CAB0; }
div.list.teal li:before 		{ color:#3FB49D; }
div.list.white li:before 		{ color:#fff; }
div.list.yellow-lite li:before 	{ color:#F5D02A; }
div.list.yellow li:before 		{ color:#F7B132; }


/*	:: Tables
--------------------------------------------- */

table { border-collapse: collapse;border-spacing: 0;-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 0 0 18px; }
table tr th,
table tbody tr td,
table tr td,
table tfoot tr td { text-align: left; }
table thead tr th,
table tbody tr th,
table tfoot tr td,
table tfoot tr th { padding: 10px; font-weight: bold; }
table thead tr th:first-child, table tfoot tr td:first-child { border-left: none; }
table thead tr th:last-child, table tfoot tr td:last-child { border-right: none; }
table tbody tr td { padding: 10px; vertical-align: top; border: none; }
table tr {border-width:1px;border-style:solid;border-color:transparent;}

/* :: Forms
--------------------------------------------- */

input[type=text],
file, 
select, 
input[type=password],
input[type=file],
textarea,
input {
 padding:0.9em 0.6em;
}

textarea 	{height:120px;width:100%;}
input, 
textarea 	{outline-style:none!important;font-family:inherit;}

pre,xmp,input[type=text],
input[type=password],
input[type=file],
textarea,
input,
select {
 background:none;
 border-width:1px;
 border-style:solid;
 border-color:transparent;
 zoom:1; 
 color:inherit;
}

button, 
input[type="submit"],
input[type="button"] { 
 border: none;
}

select {
 -webkit-appearance:none;
 outline:none;
 cursor:pointer;
 background:url(images/selectmenu-a.png) top right no-repeat;
 padding-right:10px;
 max-width:100%;
}

/* :: Contact Form
--------------------------------------------- */

.contactform_wrap {clear:both;}
.contactform_wrap .success, 
.contactform_wrap .error, 
.contactform_wrap .errorsend,
.contactform_wrap .hfield,
label.hidden {display:none;}

.contactform input[type="text"] {width:200px !important;} 
.contactform label span.required {color:#FF6633;font-weight:bold;font-size:14px;}
.contactform .fielderror {border:1px solid #C00 !important;}


/* :: Search
--------------------------------------------- */

.search-wrap {
 position:absolute;
 top:5px;
 float:left;
 width:190px;
 margin-right:10px;
}

#searchform,
#panelsearchform { position:relative;}
#panelsearchform #drops, 
#searchform #s {
 font-size:11px;margin:0;
}

#panelsearchform #drops, 
#searchform #s,
.wpsc_live_search {
 width:100%;
 max-width:100%;
}

#panelsearchsubmit,
#searchsubmit {right:6px;top:0;position:absolute;cursor:pointer;padding:7px;}
#searchsubmit {background:none !important;color:inherit;text-shadow:none;font-size:1.333em;}

/*	:: Comments
--------------------------------------------- */

#comments-title {
 text-transform: uppercase;
 font-size:90%;
 padding-top:10px;
}
.nopassword,
.nocomments {
 font-size: 24px;
 font-weight: 100;
 margin: 26px 0;
 text-align: center;
}

.commentlist {
 list-style: none;
 margin-left:0;
 padding:0;
}

.comment-content {padding:20px 20px 1px 20px;}

#primary-wrapper .commentlist .comment-content:before {
    content: "";
    display: block;
	border-width: 10px;
	border-style:solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: 0;
    right: 40px;
    margin: -18px 0 0 0;
}

.commentlist > li.comment {
 position: relative;
 padding-top:15px;
 margin-bottom:15px;
}

.commentlist .children {
 list-style: none;
 margin: 15px 0 0 0;
}
.commentlist .children li.comment {
 padding: 15px 0 0 40px;
 margin:0;
 position: relative;
}

.commentlist .children li.comment,
#comments-title,
.commentlist > li.comment {
 border-width: 1px 0 0 0;
 border-style:dashed;
}

.comment-meta .fn {
 font-style: normal;
 font-weight:bold;
 display:block;
}

.commentlist .avatar {
 right:30px;
 padding: 0;
 position: absolute;
}

.commentlist > li.pingback:before {
 content: '';
}
.commentlist .children .avatar {
 background: none;
}

.commentlist time,
#primary-wrapper a.comment-reply-link {
 font-size:90%;
}

#primary-wrapper a.comment-reply-link,
#primary-wrapper a.comment-reply-login { color:#fff;padding:8px 10px;display:inline-block;}

a.comment-reply-link > span {
 display: inline-block;
 position: relative;
 top: -1px;
}

/* Comment Form */
.comments-wrap #respond { 
 border-width: 1px 0 0 0;
 border-style: dashed;
 padding-top:20px;
 margin: 1.625em 0 0;
 width: auto; 
}

.commentlist #respond textarea {
 resize: vertical;
 width:100%;
}

.comments-wrap #respond label {margin-left:10px;}

.comments-wrap #respond .comment-form-author .required,
.comments-wrap #respond .comment-form-email .required {
 z-index: 1;
 color:#FF6633;font-weight:bold;font-size:14px;
}

.comments-wrap #respond #cancel-comment-reply-link {
 margin-left: 15px;
}

.comments-wrap #respond .logged-in-as a:hover {
 text-decoration: underline;
}


#reply-title,
#author-description h3 {
 font-weight: 300;
}

#reply-title small {font-size:100%;}

.comment-form-comment label {display:none;}
.bypostauthor h6 {font-weight:bold;}

/*	:: Related Posts
--------------------------------------------- */

#related_posts ul {margin:0 -20px;}

#related_posts li {
 float:left;
}

#related_posts li a {
 display:block;
 -ms-word-wrap: break-word;
 word-wrap: break-word; 
}

#related_posts section {margin:0;width:100%;}

a.recent-posts-title {margin-bottom:5px;}

/*	:: Misc
--------------------------------------------- */

.clear {clear:both;}
.row, .clearfix { *zoom: 1; }
.row:before, .row:after, .clearfix:after { content: " "; display: table; }
.row:after, .clearfix:after { clear: both; }


#primary-wrapper .alignright,
.mediawrap.alignright,
img.alignright {
 float:right;margin:0 0 20px 20px;
}

.nextprevious_posts .alignleft,
.nextprevious_posts .alignright {
 max-width:50%; 
 -ms-word-wrap: break-word;
 word-wrap: break-word;
}

.gallery-wrap.alignright { width: 100%; }

#primary-wrapper .alignleft, 
.format-status .avatar,
.avatar-block .item-avatar,
.mediawrap.alignleft,
img.alignleft {
 float:left;margin:0 20px 20px 0;
}

#primary-wrapper .aligncenter,
img.aligncenter {margin:0 auto 20px auto;display:block;}

#primary-wrapper .mediawrap {width:100%;max-width:100%;}
#primary-wrapper .custom-layer .mediawrap {overflow:visible;}

.alignnone,
a img.alignnone {
 margin: 0 20px 20px 0;
}

.wp-caption {
 max-width: 100%; /* Image does not overflow the content area */
 padding: 5px 3px 10px;
 text-align: center;
 border-width:1px;
 border-color:transparent;
 border-style:solid;
}

.wp-caption.alignnone {
 margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
 margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
 margin: 5px 0 20px 20px;
}

.wp-caption img {
 border: 0 none;
 height: auto;
 margin:0;
 max-width: 98.5%;
 padding:0;
 width: auto;
}

.wp-caption p.wp-caption-text {
 font-size:85%;
 line-height:17px;
 margin:0;
 padding:0 4px 5px;
}

.recent-metadata {
 font-size:90%;
 background:url(images/break-a.png) left top repeat-x;
 padding-top:4px;
}

.article-row {overflow:hidden;}

.post-metadata li {margin-bottom:15px;text-align:center;}

.post-titles ul.post-metadata-wrap {
 border-width: 1px 0 1px 0;
 border-style:dashed;
 height:auto;
}

.post-metadata li.post-format span {
 width:40px;
 height:40px;
 margin:0 auto;
 display:inline-block;
}

.post-metadata .date-month {font-size:13px !important;}
.post-metadata .date-year  {font-size:12px !important;}
.post-metadata .category-list,
.post-metadata .tags-list  {font-size:11px;word-break:break-all;}
.post-metadata li.post-date .date-day  {font-size:24px !important;line-height:1;}
.post-metadata li:last-child {margin-bottom:0;}

.post-metadata li.post-date { 
 width:70px;
 max-width:70px;
 height:70px;
 color:#fff;
 padding:7px;
 margin:0 auto;
 margin-bottom:15px;
 text-shadow: 1px 1px rgba(0,0,0,0.1);
}


ul.post-metadata-wrap,
aside.post-metadata ul {margin:0;}
ul.post-metadata-wrap li span {display:none;}

.post-titles ul.post-metadata-wrap li {margin:4px 15px 4px 0;float:left;line-height:1.65;list-style:none;}

.post-titles ul.post-metadata-wrap li.category-title,
.post-titles ul.post-metadata-wrap li.category-list,
.post-titles ul.post-metadata-wrap li.comments-title,
.post-titles ul.post-metadata-wrap li.author-title,
.post-titles ul.post-metadata-wrap li.tags-title,
.post-titles ul.post-metadata-wrap li.post-format {display:none;}

.post-titles ul.post-metadata-wrap li.comments-list,
.post-titles ul.post-metadata-wrap li.edit-link {float:right;margin-right:0;}

.grid_layout .post-titles ul.post-metadata-wrap li.comments-list {float:left;margin-right:15px;}

.post-titles ul.post-metadata-wrap li.edit-link {margin-left:15px;}
.post-titles ul.post-metadata-wrap li span {width:25px;float:left;display:block;}


.author-info {
 padding:15px 0;
 margin: 0 0 20px !important;
}

.format-link header h2, 
.format-aside header h2,
.format-status header h2 {display:none;}

.author-info #author-description p {padding-right:15px;}

div.post-titles {overflow:hidden;}
div.post-titles div.post-date {padding:5px 0;}

#author-avatar {text-align:right;}

span.nvcolor {display:none;}
span.email-error {position:relative;width:10px;height:10px;background-color:#ff0000;float:left;margin: 4px 4px 4px 0;}

.medium-text  	{ font-size:120%; }
.big-text     	{ font-size:140%; }
.large-text   	{ font-size:150%; }
.xlarge-text  	{ font-size:160%; }
.supersize-text { font-size:180%; }
span.text-shadow 	{ text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }
span.light-font-weight {font-weight:200;}
span.heavy-font-weight {font-weight:700;}
#primary-wrapper span.white-text {color:#fff;}

div.tagcloud {margin-top: 15px;}

.custom-layer img.jwlogo {width:auto !important;height:auto !important;min-height:0 !important;min-width:0 !important;position:absolute;}

.tagcloud a {display:inline-block;margin:2px;}

.post.sticky .post-titles:before {content: '\F08D';position:absolute;right:15px;font-size:1.3em;width:30px;line-height:30px;text-align:center;z-index:1;color:#fff;}


/* :: Background Layers 
--------------------------------------------- */

div#custom-layer1 {z-index:-1;}
div#custom-layer1-color {z-index:-2;}
div#custom-layer2 {z-index:1;}

div.custom-layer {
 position:fixed;
 width:100%;
 min-height:100%;
 height:100%;
 zoom:1;
}

div.custom-layer .videowrap {height:100%;}
div.custom-layer .slider-inner-wrap,
div.custom-layer .stage-slider-wrap {height:100% !important;}


div.custom-layer object,
div.custom-layer iframe {
 min-height: 100%;
 width: 100%;
 height: auto;
 top: 0;
 left: 0;
 position:fixed;
}

div.custom-layer .fullimage img {
 position: absolute; 
 top: 0; 
 left: 0; 
 right: 0; 
 bottom: 0; 
 margin: auto; 
 min-width: 50%;
 min-height: 50%;
}

div.custom-layer .fullimage {
 position: fixed; 
 top: -50%; 
 left: -50%; 
 width: 200%; 
 height: 200%;
}

div.custom-layer .image-wrapper {
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;	
 background-attachment:fixed;
 background-repeat: no-repeat;
 background-position: center center;
}

div.custom-layer .image-wrapper.fit_height {
 -webkit-background-size: auto 100%;
 -moz-background-size: auto 100%;
 -o-background-size: auto 100%;
 background-size: auto 100%;
}

div.custom-layer .image-wrapper.fit_width {
 -webkit-background-size: 100% auto;
 -moz-background-size: 100% auto;
 -o-background-size: 100% auto;
 background-size: 100% auto;
}

div.custom-layer .stage .panel,
div.custom-layer .stage .container,
div.custom-layer .panel-inner,
div.custom-layer .post-gallery-wrap,
div.custom-layer .jwplayer-wrapper,
div.custom-layer .image-wrapper {
 min-width:100%;
 max-height:100%;
 width:100%;
 height:100%;
 padding:0;
}

div.custom-layer .stage .panel {opacity:0;}
div.custom-layer .stage .panel:nth-child(2) {opacity:1;}

#footer ol li,
#panel ol li, 
#content ol.forms li, 
.contactform ol,
.sidebar .contactform ol.forms,
.sidebar .contactform ol.forms li {
 margin:0;
 padding:0;
 list-style:none;
 margin-bottom:10px;
}

.sidebar .widget ul {margin-left:0;}
.sidebar .widget ul ul {border:none;}

.screenReader {left: -9999px; position: absolute; top: -9999px;}


/* :: Header
--------------------------------------------- */

#header-wrap {
 z-index:998;
 position:absolute;
 width:260px;
 height:100%;
 left:0;
}

#header {
 position:relative;
 width:260px;
 background:none !important;
 filter:none !important;
 -ms-filter: none !important;
 height:100%;
}

#header {
 transition: height 0.5s ease-out;
 -moz-transition: height 0.5s ease-out;
 -webkit-transition: height 0.5s ease-out; 
}

#header-wrap.fixed {
 position:fixed;
}

#header-wrap.idle {
 left:-260px;
}

.dock-panel-wrap {padding:0 20px;}
.menu-sidebar-panel {margin-top:20px;text-align:center;}

.header-inner {
 position:relative;
 overflow-y:auto;
 padding:0 20px;
 height:100%;
}

.trigger-menu {position:absolute;width:50px;height:100%;z-index:100;}

#header-wrap {
 transition: transform 1s;
 -webkit-transition: -webkit-transform 1s;
}

#header-wrap.idle-css3 {
 transform: translateX(-100%); 
 -webkit-transform: translateX(-100%);
}

#header .custom-html {position:absolute;width:100%;}

#header-bg {
 position:fixed;
 width:260px;
 height:100%;
 display:block;
 top:0;
 left:0;
 padding:0;
 border-width: 0 1px 0 0;
 border-style:solid;
 border-color:transparent;
}

.auto-hide #header-bg { position:absolute;}

.skinset-footer,
.skinset-main {padding:20px;}


#header-logo {
 position:relative;
 z-index:1;
 text-align:center;
 margin-bottom:20px;
}

.skinset-header h1 	{ margin:0;padding:0;}


/* :: Main
--------------------------------------------- */

#primary-wrapper {
 position:relative;
 min-height:100%;
 overflow: hidden;
}

.main-wrap {
 min-height:100%;
}

.slider-wrap,
.main-wrap {
 width:100%;
 max-width:900px;
 margin-left:260px;
 border-width: 0 1px 0 0;
 border-color:transparent;
 border-style:solid;
 overflow:visible;
 position:relative;
}

.tva-wide-layout .slider-wrap,
.tva-wide-layout .main-wrap {border-right:0;}

.wrapper .right .tooltip-info,
.wrapper .left .tooltip-info {float:none;}

.content-wrap,
div.intro-text,
.header-infobar {position:relative;}

ul.ui-tabs-nav li,
.splitter ul li,
.frame .gridimg-wrap {padding:10px;}

.wpsc-latest-product .item_image, 
.wpsc_category_grid_item, 
.wpsc_category_image_link img, 
div.blind_down, 
div.blind_down ul li img.live-search-image,
.nv-pricing-container,
#nv_selectmenu select,
.tagcloud a {
 border-style: solid;
 border-width:1px;
 padding:10px;
}

img.avatar { 
 padding:0;
 box-sizing:content-box;
 -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.10);
 -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.10);
 box-shadow:0px 1px 3px rgba(0,0,0,0.10);
}

.page_nav .page-numbers,
.page-numbers li,
div.item-list-tabs,
.author-info,
.commentlist .comment-content {
 -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
 -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
 box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

a.action-icons i,
.gallery-wrap .slidernav {
 box-shadow: 0 0 10px rgba(0,0,0,0.05); 
 -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.05); 
 -moz-box-shadow: 0 0 10px rgba(0,0,0,0.05); 
}


/* :: Row / Columns 
--------------------------------------------- */

.row { width: 100%; min-width: 707px; margin: 0 auto; }


.main-wrap,
.slider-wrap,
#primary-wrapper .nv-sortable.row,
.row { max-width: 940px; }


.tva-wide-layout div.main-wrap,
.tva-wide-layout div.slider-wrap {
  max-width: -moz-calc(100% - 260px);
  max-width: -webkit-calc(100% - 260px);
  max-width: calc(100% - 260px);
}

.tva-wide-layout .row,
#primary-wrapper.tva-wide-layout .grid-gallery .nv-sortable.row {max-width:100%;}
.tva-wide-layout .row .row {max-width:none;}

.tva-wide-layout .slider-wrap .gridimg-wrap {max-width:100% !important;}
.tva-wide-layout .slider-wrap .gridimg-wrap img {width:100% !important;}

.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -20px; }
.row.collapse .column, .row.collapse .columns { padding: 0; }
.row .row.collapse { margin: 0; }

.row,
.row .row,
.hozbreak, 
hr,
.tooltip-info,
.container.none,
.gallery-wrap.none,
.single-post #content .article-row,
.dock-panel,
#sub-tabs li,
.commentlist .comment-content,
#primary-wrapper .gallery,
ul.nv-recent-posts .mediawrap,
.nv-recent-posts > li,
.post-titles ul.post-metadata-wrap {margin-bottom:20px;} 

/* :: Parallax Row */
.row.custom-row {background-repeat:no-repeat;margin-left:-21px;margin-right:-21px;}
.row.custom-row.parallax {background-attachment:fixed;background-position:50% 50%;background-size: 100% auto;}

.row.custom-row.parallax .parallax-wrap {
 display:table;
 width:100%;
}

.row.custom-row.parallax .parallax-wrap .parallax-content {
 display: table-cell;
 vertical-align: middle;
 overflow: hidden;
}

.row.custom-row,
.row.custom-row-inherit {padding-top:20px;}

.row.custom-row-inherit {border-width:1px 0;border-style:solid;border-color:transparent;}

.gallery-wrap .row,
.row.no-margin-bottom,
.content-wrap,
#header-wrap,
#footer-wrap,
#header .socialicons,
#footer,
#footer .row.content,
.slider-wrap .gallery-wrap.row {margin-bottom:0;}

.row.no-margin-sides{margin-left:-40px;margin-right:-41px;}
.row.no-margin-top  {margin-top:-20px;}
.row.margin-top-75  {margin-top:75px;}
.row.margin-bottom-75 {margin-bottom:75px;}
.row.padding-bottom-50 {padding-bottom:50px;}
.row.padding-top-50 {padding-top:50px;}

body.archive .hentry,
body.blog .hentry,
.page-template-blog-php .hentry,
.page-template-gridblog-php .hentry {margin-bottom:40px;border-width: 0 0 1px 0;border-style:dashed;}

.product.hentry {border-width:0 !important}

.column, .columns, .column_container { float: left; min-height: 1px; padding: 0 20px; position: relative; }
.fluid-gutter .columns { padding: 0 2.2%; }

#header {padding-top:20px;}
.main-wrap {padding-bottom:0;}

.column.centered, .columns.centered  { float: none; margin: 0 auto; }

/*[class*="column"] + [class*="column"]:last-child, */
.columns:last-child,
.columns.right.last,
.columns.shortcode.last { float:right; }


.columns.shortcode.block {padding-left:0;}
.columns.shortcode.block:last-child,.columns.shortcode.block.last {padding-right:0;}

[class*="column"] + [class*="column"].end { float: left; }

.row .one,
.row .twelve_column	{ width: 8.33333%; }
.row .two,
.row .six_column	{ width: 16.66667%; }
.row .two_thirds_column	{ width: 66.66666%; }
.row .three,
.row .four_column	{ width: 24.999999%; }
.row .four,
.row .three_column	{ width: 33.33337%; }
.row .five			{ width: 41.66667%; }
.row .five_column	{ width: 20%; }
.row .six,
.row .two_column	{ width: 50%; }
.row .seven			{ width: 58.33333%; }
.row .seven_column 	{ width: 14.285%; }
.row .eight			{ width: 66.66667%; }
.row .eight_column	{ width: 12.5%; }
.row .nine,
.row .three_fourths_column { width: 75%; }
.row .nine_column	{ width: 11.11111%; }
.row .ten			{ width: 83.33333%; }
.row .ten_column	{ width: 10%; }
.row .eleven		{ width: 91.66667%; }
.row .eleven_column	{ width: 9.09%; }
.row .twelve,
.row .one_column 	{ width: 100%; }

.row .centered 		{float: none; margin: 0 auto;}

.row .offset-by-one   { margin-left: 8.33333%; }
.row .offset-by-two   { margin-left: 16.66667%; }
.row .offset-by-three { margin-left: 25%; }
.row .offset-by-four  { margin-left: 33.33333%; }
.row .offset-by-five  { margin-left: 41.66667%; }
.row .offset-by-six   { margin-left: 50%; }
.row .offset-by-seven { margin-left: 58.33333%; }
.row .offset-by-eight { margin-left: 66.66667%; }
.row .offset-by-nine  { margin-left: 75%; }
.row .offset-by-ten   { margin-left: 83.33333%; }



#content.layout_three,
#content.layout_two {float:right;}
#content.layout_six {margin-left:25%;}
.sidebar.side_one.layout_six {margin-left:-75%;}

/* :: Footer
--------------------------------------------- */

#footer {border-width:1px 0 1px 0;border-style:solid;border-color:transparent;}
#footer .accordion-gallery li a, 
#footer .accordion-gallery li, 
#panel .accordion-gallery li a, 
#panel .accordion-gallery li, 
#footer .widget .forms li, 
#panel .widget .forms li {background:none;}

.lowerfooter {margin:0 auto;}
.lowfooterleft {float:left;}
.lowfooterright {float:right;clear:right;}

/* :: Icon Dock
--------------------------------------------- */

ul.dock-panel {
 position: relative;
 z-index: 101;
 width:auto;
 max-width:100%;
 display:table;
 margin-left:auto;
 margin-right:auto;
}

ul.dock-panel li {margin:0;}
ul.dock-panel li.searchform {opacity:0;position:absolute;}

ul.dock-panel #panelsearchform {text-align:right;}
ul.dock-panel #panelsearchform {width:100% !important;}

ul.dock-panel #panelsearchform #drops {
 -moz-box-shadow:inset  1px 1px 2px rgba(0,0,0,0.09);
 -webkit-box-shadow:inset  1px 1px 2px rgba(0,0,0,0.09);
 box-shadow:inset 1px 1px 2px rgba(0,0,0,0.09); 
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
}

.item-list-tabs #forums_search_submit {right:-4px;}

ul.dock-panel ul.dock-tab-wrapper {
 position:absolute;
 opacity:0;
 border-style:solid;
 border-width:1px;
 border-color:transparent;
 -moz-box-shadow:1px 1px 5px rgba(0,0,0,0.1);
 -webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.1);
 box-shadow:1px 1px 5px rgba(0,0,0,0.1); 
 left:22px;
 top:27px;
 height:auto; 
 padding:10px;
 margin:0;
 overflow:hidden;
 white-space:nowrap;
 max-width:260px;
 -webkit-transition: all 300ms ease-out;  
 -moz-transition: all 300ms ease-out;  
 -o-transition: all 300ms ease-out;  
 -ms-transition: all 300ms ease-out;  
 transition: all 300ms ease-out; 
 -webkit-transform: scale(0.5);
 transform: scale(0.5);
 visibility:hidden;
}

ul.dock-panel .mobile-social ul.dock-tab-wrapper,
ul.dock-panel .dock-tab-wrapper.infodock,
ul.dock-panel .dock-tab-wrapper.social-wrap {white-space:normal;}
ul.dock-panel .dock-tab-wrapper.infodock .textwidget {text-align:left;}
ul.dock-panel .dock-tab-wrapper.social-wrap { min-width:212px; }

ul.dock-panel ul.dock-tab-wrapper.searchform,
ul.dock-panel ul.dock-tab-wrapper.infodock,
ul.dock-panel .mobile-social ul.dock-tab-wrapper {width:250px;}
ul.dock-panel ul.dock-tab-wrapper.infodock ul {margin-left:0;}

ul.dock-panel ul.dock-tab-wrapper.show {
 z-index:1;
 opacity:1;
 -webkit-transform: scale(1);
 transform: scale(1); 
 visibility:visible;
}

li.dock-tab,
ul.dock-panel #lang_sel_list li {
 list-style:none;
 margin:0;
 padding:0;
 width:40px;
 height:40px;
 text-align:center;
 margin:2px !important; 
 display:inline-block;
 border-width:1px;
 border-style:solid;
 border-color:transparent;
}

/*ul.dock-panel li.dock-tab {z-index:200;}*/

ul.dock-panel li.dock-tab a i {display:block !important;line-height:38px !important;font-size:18px;}
ul.dock-panel li.dock-tab a,
ul.dock-panel #lang_sel_list li a {line-height:40px;position:relative;display:inline-block !important;font-size:1em;background:none;}
ul.dock-panel li.dock-tab .widget a {line-height:normal;}
ul.dock-panel #lang_sel_list ul,
ul.dock-panel #lang_sel_list a {border:none;padding:0;}
ul.dock-panel #lang_sel_list li {overflow:hidden;}
ul.dock-panel #lang_sel_list img {margin:0 5px;}
ul.dock-panel li.dock-tab.mobile-social,
ul.dock-panel li.dock-tab.mobile-menu {display:none;}

/* :: Navigation
--------------------------------------------- */

#nv-tabs {
 position:relative;
 z-index:2;
 text-align:center; 
}

#nv-tabs ul {list-style:none;}
#nv-tabs>ul {margin-bottom:0;margin-left:0;}
#nv-tabs li {position:relative;list-style:none;}
#nv-tabs li.menubreak,
#nv-tabs li.menubreak:hover { display:none;}

#nv-tabs ul li {
 padding: 0;
 margin:0;
 text-transform:uppercase;
}

#nv-tabs.left ul li {
 margin-left:0;
 margin:0 36px 0 0;
}

#nv-tabs ul li.hasdropmenu span.dropmenu-icon {
 position:absolute;
 right:0;
 top:0;
 opacity:0;
 padding:8px 0;
}



#nv-tabs ul li span.menu-highlight {
 height:2px;
 width:0;
 position:absolute;
 bottom:6px;	
 left:0;
 opacity:0;
}

#nv-tabs ul li.current_page_item span.menu-highlight,
#nv-tabs ul li.current_page_parent span.menu-highlight,
#nv-tabs ul li.current-menu-ancestor span.menu-highlight {
 opacity:1;
 width:20px;	
}

#nv-tabs ul li ul li,
#nv-tabs.center ul li ul li,
#nv-tabs.left ul li ul li	{margin:0;}

#nv-tabs li li {background:none;}

#nv-tabs a {
 padding:5px 0 5px 0;
 text-decoration:none;
 cursor: pointer; /* IE 7 bug-fix */
 display:block;
 background:url(images/blank.gif);  /* IE bug-fix */
 z-index:100;
 position:relative;
}

#nv-tabs ul ul a {font-weight:normal;}

#nv-tabs #dropmenu, 
#dyndropmenu {z-index:998;}

#nv-tabs .sub-menu-img {
 width:10px;
 height:10px;
 position:absolute;
 right:-15px;
 top:0;
 -ms-filter: 'Alpha(Opacity=0)';
 opacity: 0;
 -moz-opacity: 0;
 filter:alpha(opacity=0); 
 background:#333;
}

#nv-tabs ul ul {
 display: none;
 height:auto;
 margin: 0;
 border-width: 0 0 1px 0;
 border-style: dotted;
}

#nv-tabs ul li a { 
 padding: 9px 10px;
 white-space:nowrap;
 display:block;
}


.menudesc {position:relative;z-index:0;font-weight:normal;text-transform:none;}
.menutitle {display:block;}
.menutitle i {margin-right:5px;}

#nv-tabs ul li ul li .menudesc {margin-top:5px;display:block;}

#nv-tabs ul li.extended-menu ul li a {
 font-weight:bold;
}

#nv-tabs ul li.extended-menu ul li ul li a {
 font-weight:normal;
}


#nv_selectmenu select {
 width:100%;
}

#nv-tabs #megaMenu ul li.ss-nav-menu-mega ul.sub-menu ul.sub-menu {background:none;border:none;}


/* :: Breadcrumbs
--------------------------------------------- */

div.sub-header		{min-height:10px;border-width:0 0 1px 0;border-style:solid;}
#sub-tabs			{position:relative;float:left;}
#sub-tabs ul		{margin-left:0;}
#sub-tabs li 		{font-size:0.9em;float:left;}
#sub-tabs li.home 	{background:none;padding-left:0;}
span.subbreak 		{padding:0 5px;}

/* :: Pagination
--------------------------------------------- */

div.page_nav {float:right;}
ul.page_nav {margin-top:15px;}
.page_nav .page-numbers,
.page-link span {
 float:left; 
 margin:0 6px 6px 0; 
}

.page-link span.pagination,
.page_nav .page-numbers { 
 display:block; 
 width:27px;
 max-width:27px;
 line-height:27px;
 font-weight:bold; 
 text-align:center;
 padding:0 !important;
}

.page-link {float:right;line-height:27px;}

.page-link span {
 margin:0 2px; 
}

.splitter li,.splitter ul,.splitter ul li a {
 display: inline-block;
 padding:3px 5px 4px 5px;
 margin:0;
 width:auto;
}

.splitter li,.splitter ul {
 padding:0;
 margin:0;
 *display:inline;
 zoom:1;
}

ul.splitter {margin-bottom:0;}

.splitter-wrap {
 height:auto;
 margin-bottom:20px;
}

.filter-text {display:none;}
.slider-wrap .splitter-wrap {margin:20px;}
.row.no-margin-sides .splitter-wrap {margin-left:20px;}

.splitter ul li.active {border-width:1px;border-style:solid;border-color:transparent;}


/* :: Twitter Feed
--------------------------------------------- */

.twitter-wrap {position:relative;padding:0;border-width:1px 0;border-style:solid;border-color:transparent;margin:0 -20px;}
.twitter-wrap span.nvcolor {z-index:0;display:none;}

.tweets {
 position:relative;
 font-style:italic;
 height:30px;
}

#tweet_container, #tweet_container span {width:100% !important;}
#tweet_quote_wrapper {position:relative;line-height:30px;margin-left:50px;}

.tweets .twitterfollow a {display:block;height:30px;line-height:30px;}

.tweets .tweettitle {
 float:left;
 position:relative;
 height:inherit;
 padding-left:20px;
}



/* :: Text Resize
--------------------------------------------- */

.textresize {
 position:relative;
 height:33px;
 float:right;
 display:block;
 padding:3px 0 0 3px;
 width:43px;
}

.textresize ul li {
 float:left;
 list-style:none;
 margin:0;
 padding:0;
 position:relative;
 cursor:pointer;
}


.textresize .decreaseFont {
 background-position : -5704px 0;
 height:40px;
 width:16px;
}

.textresize .increaseFont {
 background-position : -5664px 0;
 height:40px;
 width:24px;
}

.textresize ul li div,#togglesocial ul li div {cursor:pointer;margin:0;padding:0;}

ul li.resize-sml span.nvcolor { width:10px;height:25px;right:0;}
ul li.resize-lrg span.nvcolor { width:17px;height:25px;left:0}


/* :: Social Icons
--------------------------------------------- */


div#togglesocial {
 float:right;
 top: 0;
}

div#togglesocial ul li {
 margin:0;
 padding:0;
}

.socialinit,.socialhide {
 height:30px;
 width:38px;
 position: relative;
 display:block;
 top: 0;
}

.socialicons {
 position:relative;
 display:block;
}

.socialicons.display {display:block;}
.socialicons.toggle  {display:none;}
.socialicons.center  {float:none;margin:0 auto;display:table;}
.socialicons.toggle.center {display:none;}

#togglesocial.center,
.socialicons.toggle.center { float:left;left:50%;margin-left:-15px;}

#togglesocial.left, 
.socialicons.left,.socialicons.toggle.center  { float:left; margin-left:0;}

.socialicons ul {margin:0;}

#primary-wrapper .socialicons ul li, .twitter-wrap div.social-twitter {
 float:left;
 list-style:none;
 padding:0;
 width:40px;
 line-height:40px;
 position:relative;
 text-align:center;
 margin:2px;
}

#primary-wrapper .socialicons ul li a i {font-size:20px;}

.socialicons.left ul li,.socialicons.center ul li {float:right;}


.fb_like.wpb_content_element,
.fb_like.wpb_content_element iframe { height: 25px; } 

.socialicons.color .social-facebook a { color:#3B5998; }
.socialicons.color .social-linkedin a { color: #3b5998 }
.socialicons.color .social-rss a { color: #fa9b39 }
.socialicons.color .social-google a { color: #C63D2D }
.socialicons.color .social-vimeo a { color: #44bbff }
.socialicons.color .social-pinterest a { color: #910101 }
.socialicons.color .social-instagram a { color: #517fa4 }
.socialicons.color .social-soundcloud a { color: #ff5419 }
.socialicons.color .social-flickr a { color: #FE0883 }
.socialicons.color .social-twitter a { color: #00a0d1 }
.socialicons.color .social-youtube a { color: #c4302b }


/* :: Widgets
--------------------------------------------- */

li.widget  {margin-bottom:18px;clear:both;}
.widget li {margin-bottom:8px;padding-top:10px; } 
.widget ul {border-width: 0 0 1px 0;border-style:dashed;padding-bottom:20px;}

.widget li ul { 
 background:none;
 margin:5px 0 0 0;
 padding-bottom:0;
}

ul.nv-recent-posts {margin-left:0;}
.widget .nv-recent-posts li {padding:0;list-style:none;}

.widget ul li.current_page_item a { font-weight:bold;font-style:italic; }

.widget_recent_comments li		{ font-style:italic; }
.widget_recent_comments li a	{ font-style:normal; }


/* :: Calendar Widget
--------------------------------------------- */

#wp-calendar caption {font-style:italic;padding-bottom:10px;}

#wp-calendar {
 empty-cells: show;
 border-spacing: 0;
 border-left:none;
 margin:0;
 padding:0;
 width:100%;
}

#wp-calendar #next a {
 text-align: right;
 background:none; 
}

#wp-calendar #prev a {
 text-align: left;
 background:none; 
}

#wp-calendar a {display: block;}
#wp-calendar caption {text-align:center;width: 100%; }

#wp-calendar td,
#wp-calendar thead th {
 text-align: center;
 vertical-align:middle;
}

#wp-calendar td 		{padding:3%;}
#wp-calendar tbody td a {font-weight:bold;}
#wp-calendar td#today 	{font-style:italic;font-weight:bold;}



/* :: Gallery Widget
--------------------------------------------- */

.mini-slider {
 display:block;
 position:relative;
 overflow:hidden;
}

.mini-slider .panel {height:inherit !important;width:inherit;}
.mini-slider .panel .container {height:auto;}
.sidebar-slider .panelcontent {padding:0;}


/* :: Galleries Reset
--------------------------------------------- */

.gallery {
 margin-left: -4px;
}

.gallery-item {
 float: left;
 margin: 0 4px 4px 0;
 overflow: hidden;
 position: relative;
 box-sizing:border-box;
 width:auto !important;
 height:auto !important;
 margin-top:0 !important;	
}

.gallery-item img {
 border:none !important;
 vertical-align:middle;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
 display: table;
 margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
 text-align: center;
}

.gallery-columns-4 .gallery-item {
 max-width: 23%;
 max-width: -webkit-calc(25% - 4px);
 max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
 max-width: 19%;
 max-width: -webkit-calc(20% - 4px);
 max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
 max-width: 15%;
 max-width: -webkit-calc(16.7% - 4px);
 max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
 max-width: 13%;
 max-width: -webkit-calc(14.28% - 4px);
 max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
 max-width: 11%;
 max-width: -webkit-calc(12.5% - 4px);
 max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
 max-width: 9%;
 max-width: -webkit-calc(11.1% - 4px);
 max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
 margin-right: 0;
}

.slider-wrap {z-index:1;
    border-width: 2px;
     border-radius: 10px;
    border: 5px solid ;
    border-color: floralwhite;
   
   }
.slider-wrap-inner {margin-right:1px;}

#primary-wrapper .gallery-wrap {
 position:relative;
 height:auto;
 padding:0;
 opacity: 0;
 -moz-opacity: 0;
 -khtml-opacity: 0;
 z-index:0;
}

div.gallery-title {position:relative;margin-bottom:17px;}

/* Navigation Frame (Group Slider, Stage ) */

div.slidernav-left,
div.slidernav-right {
 position:absolute;
 width:50px;
 height:100%;
 z-index:999;
 top:0;
 text-align:center;
}

.slidernav-left	 {left:0;}
.slidernav-right {right:0;}

.slidernav-left	.slidernav  {left:15px;}
.slidernav-right .slidernav {right:15px;}

.slidernav-left a:before {
  content:'\F053';
  margin-left:-1px;
}

.slidernav-right a:before {
  content:'\F054';
  margin-right:-1px;
}

.slidernav-left,
.slidernav-right {display:none;}

.fullslider .slidernav-left {left:50%;margin-left:-45px;}
.fullslider .slidernav-left .slidernav {left:0;}
.fullslider .slidernav-right {right:50%;margin-right:-45px;}
.fullslider .slidernav-right .slidernav {right:0;}

.fullslider .slidernav-left .slidernav,
.fullslider .slidernav-right .slidernav {
 top:auto;
 bottom:40px;
 width:40px;
 height:40px;
}

.fullslider .slidernav-left .slidernav a,
.fullslider .slidernav-right .slidernav a {
 line-height:42px;
}

.slidernav {
 cursor:pointer;
 top:50%;
 margin-top:-25px;
 position:absolute;
 width:50px;
 height:50px;
 display:block;
}

.slidernav a {display:block;height:100%;line-height:52px;font-size:1.3em;}

.mediawrap.circular img,
.mediawrap.circular.frame .gridimg-wrap {
 -moz-border-radius: 100%; 
 -webkit-border-radius: 100%;
 border-radius: 100%;
 overflow:visible;
}


/* Gallery Media */

.gallery-wrap .container,
.mediawrap .container {margin:0 auto;position:relative;max-width:100%;}

.mediawrap.video .container {max-width:100%;float:none;left:auto;}
.mediawrap.video .gridimg-wrap {left:auto;}

.gridimg-wrap { 
 margin-left:auto;
 margin-right:auto;
 position:relative;
 overflow:hidden;
}

.gallery-wrap .gridimg-wrap {max-width:100%;width:auto;}
.gridimg-wrap img {
 width:auto;
 height:auto;
}

.videotype .title-wrap {display:block;}

.stage .video-wrapper {height:180px;width:100%;display:block;position:absolute;top:70%;margin-top:-100px;z-index:100;}

.container img,
.container object, 
.container iframe {
 margin-left:auto;
 margin-right:auto;
 display:block;
 max-width:100%;
}



.stage-slider-wrap .panel .container,
.post-gallery-wrap .panel .container, 
.panel .container.videotype {
 height:100%;
}

.container.videotype {width:100%;}

.panel img {
 -ms-interpolation-mode:bicubic;
 background-color:transparent !important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */  
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
 zoom: 1;
}


.jwplayer-wrapper,
.container.videotype .videowrap {
 z-index:0;
 position: relative;
 padding-bottom: 56.25%;
 height: 0;
}

.custom-layer .container.videotype .videowrap,
.custom-layer .mediawrap,
.custom-layer .mediawrap .container,
.custom-layer .gridimg-wrap {padding:0;height:100%;width:100%;overflow:hidden;}
.custom-layer .container video,
.custom-layer .container object {position:fixed;}
.custom-layer .mediawrap {overflow:visible;}

.container.videotype .videowrap.four_by_three {padding-bottom:75%;}

.mediawrap.audio .jwplayer-wrapper,
.mediawrap.audio .container.videotype .videowrap {padding:0;height:auto;min-height:26px;}

.mediawrap.video  object,
.mediawrap.video  iframe,
.jwplayer-wrapper div.jwplayer,
.jwplayer-wrapper div:first-child,
.jw_display_image,
.jw_video_wrapper,
.jw_displayarea,
.jw_display,
.gallery-wrap .container.videotype .videowrap object,
.gallery-wrap .container.videotype .videowrap iframe {
 position: absolute !important;
 top: 0 !important;
 left: 0 !important;
 width: 100% !important;
 height: 100% !important;
 max-height: 100%;
}

.jw_iconBackground {top:50% !important;left:50% !important;margin-left:-25px !important;margin-top:-25px !important;}


/* Lightbox */

a.action-icons {transition-property:none;-webkit-transition-duration:none;}

a.action-icons i { 
 position:absolute;
 left:0;
 top:0;
 color:#fff;
 width:50px;
 line-height:50px;
 zoom: 1;
 transform-origin: center center;
}

a.action-icons i:before {display:block;} /* chrome fix */

a.action-icons {
 position:absolute;
 width:100%;
 height:100%;
 top:0;
 z-index:5;
 text-align:center;
 background-color:rgba(0,0,0,0);  /* IE bug-fix */
}

a.action-icons.split {
 width:50%;
}

a.action-icons.lightbox-icon {left:0;}
a.action-icons.link-icon {right:0;}

a.action-icons.split.lightbox-icon i {right:5px;left:auto;margin:-25 0 0 0;}
a.action-icons.split.link-icon i {left:5px;margin:-25 0 0 0;}

a.action-icons.lightbox-icon i {left:50%;margin-left:-25px;}
a.action-icons.link-icon i {right:50%;margin-right:-25px;left:auto;}

a.action-icons.lightbox-icon i.fa-play:before {padding-left:2px;}


a.action-icons i {
 opacity:0;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);	
 -webkit-transition: all 600ms ease-out;  
 -moz-transition: all 600ms ease-out;  
 -o-transition: all 600ms ease-out;  
 -ms-transition: all 600ms ease-out;  
 transition: all 600ms ease-out; 
 -moz-transform: scale(0.8);
 -o-transform: scale(0.8);
 -webkit-transform: scale(0.8);
 transform: scale(0.8); 
 top:50%;
 margin-top:-25px;
}

.currItem:hover a.action-icons i,
a.action-icons i.display {
 opacity:1;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: alpha(opacity=100);	
 -moz-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transform: scale(1);
 transform: scale(1);
}


/* Captions */

.gallery-caption {
 background-color: rgba(0, 0, 0, 0.7);
 color: #fff;
 margin: 0;
 max-height: 50%;
 opacity: 0;
 padding: 2px 8px;
 position: absolute;
 bottom: 0;
 left: 0;
 text-align: left;
 -webkit-transition: opacity 400ms ease;
 transition:         opacity 400ms ease;
 width: 100%;
}

.gallery-item:hover .gallery-caption {
 opacity: 1;
}


.title-wrap {
 overflow:hidden; 
 position:relative;
}

.caption-wrap {
 position: absolute;  
 z-index: 100;  
 right: 0;
 bottom:15px;
 text-align:right;
 margin:0;
}

.custom-layer .caption-wrap { visibility:hidden;}
.custom-layer .caption-wrap.active {visibility:visible;}

.caption-wrap .caption.title {padding:0;}

.gridimg-wrap img,
.caption-wrap .caption,
.mediawrap.circular .gridimg-wrap {
 -webkit-transition: all 700ms ease;  
 -moz-transition: all 700ms ease;  
 -o-transition: all 700ms ease;  
 -ms-transition: all 700ms ease;  
 transition: all 700ms ease;
}

.caption-wrap .caption {
 position: relative;
}

.caption-wrap .caption,
.caption-wrap .caption-hover,
.nextItem .caption-wrap .caption,
.prevItem .caption-wrap .caption {  
 -moz-transform: translateX(200%);  
 -o-transform: translateX(200%);  
 -webkit-transform: translateX(200%);  
 transform: translateX(200%);
}

.non_CSS3 .caption-wrap {
 right:-150%;	
}

.non_CSS3 .caption-wrap.active,
.non_CSS3 .caption-wrap.static,
.non_CSS3 .grid-gallery .caption-wrap.caption-static,
.non_CSS3 .currItem .caption-wrap.caption-static {
 right:0;	
}

.gridimg-wrap.zoomhover:hover img,
.mediawrap.circular .gridimg-wrap.zoomhover:hover {
 -moz-transform: scale(1.2);
 -o-transform: scale(1.2);
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}

.gridimg-wrap.zoomhover:hover .blackwhite img,
.circular.frame .gridimg-wrap.zoomhover:hover img,
.mediawrap.circular .gridimg-wrap.zoomhover:hover img {
 -moz-transform: scale(1);
 -o-transform: scale(1);
 -webkit-transform: scale(1);
 transform: scale(1);
}

.gridimg-wrap:hover .caption-wrap .caption,
.currItem:hover .caption-wrap .caption,
.caption-wrap.active .caption,
.caption-wrap.static .caption,
.grid-gallery .caption-wrap.caption-static .caption,
.currItem .caption-wrap.caption-static .caption {  
 -moz-transform: translateX(0);  
 -o-transform: translateX(0);  
 -webkit-transform: translateX(0);  
 transform: translateX(0);
}

.currItem .caption-wrap.caption-static .caption {
 -webkit-transition-delay: 600ms;  
 -moz-transition-delay: 600ms;  
 -o-transition-delay: 600ms;  
 -ms-transition-delay: 600ms;  
 transition-delay: 600ms;  	
}


.stage .caption-wrap {
 bottom:10%;
}

.caption.content {max-width:400px;padding:4px 15px;clear:both;float:right;}

.caption.content p {margin:18px 0 0 0;}
.caption.content p:first-child {margin:0;}

.fullslider .caption.content {line-height:27px;padding:8px 15px;}

.mediawrap .caption.content h6 {margin-bottom:0;}

.caption.title {width:auto;float:right;}
.caption.title h3 {font-size:18px;padding:5px 15px;margin:0;font-weight:300;}

.stage .caption.title h3 {font-size:38px;}
.five_column .caption.title h3 {font-size:18px;padding:3px 10px;}

.read-more-wrap {margin-bottom:0;}
.caption.content .read-more {margin-left:10px;}

/* :: Grid Gallery
--------------------------------------------- */

#primary-wrapper .gallery-wrap.grid-gallery {
 opacity: 1;
 -moz-opacity: 1;
 -khtml-opacity: 1;
}


.gallery-wrap .panel.columns {padding:0;}
.gallery-wrap .groupslider-row {position:relative;margin:0 -5px;}

.nv-sortable.row {margin:0;}

#primary-wrapper .slider-wrap-inner .column_padding {padding-top:20px;}
.column_padding .panel.columns {padding:0 10px 20px;}
.column_padding .nv-sortable.row,
.column_padding.groupslider-row {position:relative;margin:0 10px;}
.column_padding.groupslides-wrap .panel.columns {padding-bottom:0;}

/* :: Stage Gallery
--------------------------------------------- */

.stage-slider-wrap {
 width:100%;
 position:relative;
 margin:0 auto;
}

.slider-inner-wrap { position:relative; margin:0 auto;height:100%;overflow:hidden;}
.stage-slider,.post-gallery { height:100%;}


.stage-slider .panel,.post-gallery-wrap .panel {
 margin:0 auto;
 width:100%;
 position:absolute;
 top:0;
}

.stage-slider .panel-inner,
.post-gallery-wrap .panel-inner {
 margin:0 auto;
 padding:0;
 width:auto;
 position:relative;
 height:100%;
}

.stage-slider {background:none !important;}

.control-wrap {
 position:absolute;
 height:22px;
 z-index:999;
 right:10px;
 top:10px; 
}

.control-panel ul li {
 display:inline-block;
 zoom:1;
 *display:inline; 
 list-style:none;
 margin:0 0 0 2px;
 padding:0;
 position:relative;
 width:16px;
 line-height:15px;
 padding-top:1px;
}

.control-panel ul.nav {margin:0;}
.control-panel ul li a {
 display:block;
 text-align:center;
}

.stage-control .poststage-pauseresume span, 
.stage-control #stage-pauseresume span { cursor:pointer;}

.control-panel li a:before {
  content:'\F10C';
}

.control-panel li.activeSlide a:before {
  content:'\F111';
}


/* :: Group Slider Gallery
--------------------------------------------- */

.group-slider.shortcode { overflow:hidden;width:100%; }
.gallery-wrap.group-slider.horizontal { max-width:100%; }

.groupslides-wrap {width:100%;max-width:100%;}

.group-slider .panel.block.columns {margin-bottom:0;}
.vertical .groupslides-wrap .panel:last-child .container {margin-bottom:0;}
.groupslides-wrap {width:100%;max-width:100%;}


/* :: Gallery Shortcodes
--------------------------------------------- */

.post-gallery-wrap, 
.post-grid {
 position:relative;
 clear:both;
 overflow:hidden;
}

.post-gallery {width: auto !important;}

.post-gallery-wrap.center, 
.grid-gallery.center,
.group-slider.center,
.accordion-gallery-wrap.center {margin:0 auto;}

.post-gallery-wrap.right, 
.grid-gallery.right,
.group-slider.right,
.accordion-gallery-wrap.right {float:right;width:100%;}


.post-grid .panel {overflow:hidden;}
.post-grid .gridimg-wrap { position:relative;overflow:hidden;}

/* :: Image Shortcode
--------------------------------------------- */

#primary-wrapper .frame .gridimg-wrap { padding:6px; }

.frame .gridimg-wrap {
 border-width:1px;
 border-color:transparent;
 border-style:solid;
}

div.media-wrap .gridimg-wrap { display:table; }


/* :: Button Shortcode / Forms
--------------------------------------------- */

.button a, 
.button a:hover {
 color:#fff !important;
 display: block !important;
 text-align:center;
}

.button-wrap a i {margin-right:5px;}

.button-wrap {display: inline-block; margin:0 0 15px 0;}
.button-wrap.full {display:block;width:100%;}
.button-wrap.half {width:50%;}
.button-wrap.onequarter {width:25%;}
.button-wrap.threequarter {width:75%;}
.button-wrap.alignright {float:right;margin-left:5px;}
#primary-wrapper .button-wrap.aligncenter {display:table;margin-left:auto;margin-right:auto;clear:both;}
.button-wrap.large {text-size:110%;}

.button a, 
.button a:visited, 
button, 
input[type="submit"],
.sidebar input[type="submit"], 
.panel-wrap input[type="submit"], 
input[type="button"],
a.button, 
a.tp-button,
button.button, 
input.button, 
#review_form #submit,
div.item-options a {
 -webkit-appearance: none;
 display: inline-block; 
 padding: 10px 20px; 
 color: #fff;
 text-decoration: none;
 -moz-border-radius: 10px; 
 -webkit-border-radius: 10px;
 border-radius:10px;
 text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
 border: none;
 cursor: pointer;
 zoom:1;
 *display:inline;
 margin:0;
 font-size:1.1em;
 font-weight:500;
}

.button-wrap .button a:hover {background-color:rgba(255,255,255,0.25);}

div.button,
.ui-accordion-header,
.ui-tabs-nav li,
.vc_progress_bar .vc_single_bar,
.vc_progress_bar .vc_single_bar .vc_bar,
ul.dock-panel ul.dock-tab-wrapper,
.styledbox,
a.comment-reply-link,
a.comment-reply-login,
input[type=text],
textarea,
.author-info,
.tooltip,
input.input-text,
.commentlist .comment-content,
span.highlight {
 -moz-border-radius: 10px; 
 -webkit-border-radius: 10px;
 border-radius:10px;
}

.post-metadata li.post-date,
.page_nav .page-numbers,
.page-link span.pagination,
.page-numbers li,
.action-icons i,
li.dock-tab,
span.dropcap,
.dock-tab span.items-count,
#lang_sel_list li,
img.avatar,
.autototop a,
.gallery-wrap .slidernav,
.styledbox .icon-wrap,
.nv-pricing-table .icon-wrap,
span.tooltip-icon,
.product-thumbnail img,
.fonticon.background,
span.productprice,
.post.sticky .post-titles:before {
 -moz-border-radius: 100%; 
 -webkit-border-radius: 100%;
 border-radius: 100%;
}


.white.button a, .white.button a:visited,
.grey-lite.button a, .grey-lite.button a:visited,
h3 a.button,
a.button.confirm,
div.item-options a { 
 text-shadow: 0 1px 1px rgba(255,255,255,.6);
 color:#777 !important;
}

.button a:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
 color: #fff; 
}

a.button,
a.tp-button,
a.button.alt, 
button.button,
button.button.alt,
input.button, 
#review_form #submit,
#content input.button.alt,
#respond input#submit.alt {
 color:#fff;
 text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.button a:active { top: 1px; }
.small.button a, .small.button a:visited { font-size: 11px; }
.button, .button:visited,.medium.button, .medium.button:visited { line-height: 1; }
.large.button, .large.button:visited { font-size: 14px; padding: 8px 14px 9px; }

#primary-wrapper .tp-button { line-height:.6 !important;border:0; }


/* Button Colors */
.black.button {
 background-color: #000;
} 

.blue-lite.button {
 background-color: #59ACE3;
}

.blue.button {
 background-color: #5198C9;
}

.green.button,
.tp-button.green {
 background-color:#4DBF7E;
}

.green-lite.button {
 background-color:#52D78B;
}

.grey-lite.button,
a.button.confirm,
h3 a.button,
h3 a.button:hover,
div.item-options a {
 background-color:#CACFD2;
}

.grey.button {
 background-color:#99A3A4;
}

.orange-lite.button {
 background-color: #ED9845;
}

.orange.button {
 background-color: #DE7627;
}

.pink-lite.button {
 background-color: #B078C7;
}
 
.pink.button {
 background-color: #A666BF;
}

.purple-lite.button {
 background-color: #536487;
}

.purple.button {
 background-color: #354C63;
}

.red-lite.button {
 background-color: #EE6F5F;
}

.red.button a {
 background-color: #CF5F52;
}

.teal-lite.button {
 background-color: #40CAB0;
}

.teal.button {
 background-color: #3FB49D;
}

.transparent.button {
 background-color: none;
 border:none;
}

.white.button {
 background-color: #fff;
}

.yellow-lite.button {
 background-color: #F5D02A;
}

.yellow.button {
 background-color: #F7B132;
}


/* :: Blockquotes Shortcode
--------------------------------------------- */

.blockquote_line,
.blockquote_quotes {
 font-size:1.1em;
 width:20%;
 min-width:140px;
 font-style:italic;
 display:block;
 overflow:hidden;
}

.blockquote_line p,
.blockquote_quotes p {margin-bottom:0;}

.intro-text .blockquote_quotes,
.format-quote .blockquote_quotes {width:100%;}
.widget .blockquote_line, .widget .blockquote_quotes {
 width:inherit;
 font-size:1.1em;
}

.post-gallery-wrap .blockquote_line, 
.post-gallery-wrap .blockquote_quotes { width:inherit;padding:0 20px 0 20px; }

.blockquote_quotes.left {
 float:left; 
 margin:0 1.2em 1.2em 0;
 padding:0em 1em 0em 0em;
}

.blockquote_quotes .quote.left, 
#footer .blockquote_quotes .quote.left {
 float:left;
 margin-right:6px;
 margin-bottom:4px;
 margin-top:-4px;
}

.blockquote_quotes .quote.right, 
#footer .blockquote_quotes .quote.right {
 float:right;
 margin-left:4px;
 margin-top:0;
 margin-bottom:2px;
}

.blockquote_quotes .quote.left, 
.blockquote_quotes .quote.right {
 font-size:100px;
 line-height:normal;
 padding:0;
 height:30px;
 width:50px;
 position:relative;
 font-weight:normal;
 text-align:left;
}

.blockquote_quotes .quote.left span,
.blockquote_quotes .quote.right span {line-height:100px;margin-left:-5px;top:-5px;position:absolute;width:110px;opacity:.2;}

.blockquote_quotes.right {
 float:right;
 margin:0 0.5em 1.5em 1.5em;
 padding:0em 0em 0em 1em; 
}

.blockquote_quotes.center,
.blockquote_line.center {
 margin-left:auto;
 margin-right:auto;
}

.blockquote_line,
blockquote { 
 border-width: 0 0 0 5px;
 border-style:solid;
 margin:0 1.5em 1.5em 0;
 padding:0em 0 0em 1em;
 font-size:1.2em;
}

.blockquote_quotes blockquote {border:none;}

.blockquote_line.left {float:left;}

.blockquote_line.right {
 float:right;
 margin:0 0.5em 1.5em 1.5em;
}


/* :: Horizontal Break Shortcode
--------------------------------------------- */

.hozbreak, hr {
 line-height:5px;
 position:relative;
 clear:both;
 border-style:dashed;
 border-width: 0 0 1px 0;
}

.columns.twelve .hozbreak {margin-left:-20px;margin-right:-20px;}

.hozbreak.dotted { border-style:dotted; }
.hozbreak.solid { border-style:solid; }
.hozbreak.double { border-style:double none; border-width: 0 0 4px 0; }

.hozbreak.blank {border:none;}
.hozbreak.nospace {line-height:2px;}

.hozbreak-top {
 position:relative;
 width:100%;
 text-right:right;
 float:left;
}

.hozbreak-top .hozbreak {margin-right:30px !important;padding-top:10px;}

.hozbreak-top a {position:absolute;right:0;}
.grid_layout .hozbreak-top.blog {display:none;}


/* :: Font Icon Shortcode
--------------------------------------------- */

.fonticon.center {margin:0 auto;float:none;}
.fonticon.right {float:right;margin:0 0 10px 0;}

#primary-wrapper .fonticon {display:inline-block;}
#primary-wrapper .fonticon.center {display:block;}

.fonticon {width:30px;text-align:center;margin:0 10px 10px 0;}
.fonticon.fa-3x,
.fonticon.fa-2x {width:auto;}
.fonticon i {font-size:1.3em;line-height:30px;}

.fonticon.medium {width:35px;}
.fonticon.medium i {font-size:1.6em;line-height:35px;}

.fonticon.large {width:45px;}
.fonticon.large i {font-size:2.2em;line-height:45px;}

.fonticon.x-large {width:60px;}
.fonticon.x-large i {font-size:2.8em;line-height:60px;}

.fonticon.xx-large {width:100px;}
.fonticon.xx-large i {font-size:3.2em;line-height:100px;}


/* :: Styled Box Shortcode
--------------------------------------------- */

.styledbox {
 position:relative;
 clear:both;
 margin-left:0;
 margin-right:0;
 display:block;
 border-width:1px;
 border-style:solid;
 border-color:transparent;
}

.styledbox.feature h1,
.styledbox.feature h2,
.styledbox.feature h3,
.styledbox.feature h4,
.styledbox.feature h5,
.styledbox.feature h6 {margin-bottom:0;}

.styledbox .boxcontent {padding:15px 0;}
.styledbox.feature .boxcontent {padding:15px;}
.styledbox.feature .boxcontent p {margin-bottom:0;}

.styledbox .icon-wrap {position:absolute;font-size:2em;width:50px;height:50px;line-height:50px;text-align:center;}

.styledbox.fonticon-left .icon-wrap {left:-25px;margin-top:-25px;top:50%;} 
.styledbox.fonticon-right .icon-wrap {right:-25px;margin-top:-25px;top:50%;} 
.styledbox.fonticon-center .icon-wrap {position:absolute;left:50%;top:0;margin-left:-25px;margin-top:-25px;} 

.styledbox.fonticon-left,
.styledbox.fonticon-left .boxcontent {margin-left:25px;}
.styledbox.fonticon-right,
.styledbox.fonticon-right .boxcontent {margin-right:25px;}

.styledbox.fonticon-center .boxcontent {padding-top:30px;}
.styledbox.fonticon-center {margin-top:25px;}

.styledbox.information {background-color:#59ACE3;}
.styledbox.information .icon-wrap {background-color:#5198C9;}

.styledbox.download {background-color:#52D68B;}
.styledbox.download .icon-wrap {background-color:#4DBF7E;}

.styledbox.warning {background-color:#F5D02A;}
.styledbox.warning .icon-wrap {background-color:#F7B132;}

.styledbox.help {background-color:#EE6F5F;}
.styledbox.help .icon-wrap {background-color:#CF5F52;}

.styledbox.information .boxcontent,
.styledbox.warning .boxcontent,
.styledbox.download .boxcontent,
.styledbox.help .boxcontent,
.styledbox .icon-wrap {color:#fff;}

.styledbox.left  {float:left;margin-right: 15px;}
.styledbox.right {float:right;margin-left:15px;}
.styledbox.center {margin-left:auto;margin-right:auto;}

.styledbox.blank .boxcontent {padding:0 !important;}


/* :: Highlights Shortcode
--------------------------------------------- */

span.highlight.one {color:#fff;border:none;}
span.highlight.two {background:#111;color:#FFFFFF;border:none;}
span.highlight {padding:0 8px;margin:0 2px;}
span.quote span.highlight {padding:0 0 0 3px;}



/* :: jQuery Accordion
--------------------------------------------- */

.accordion .section .sectioncontent,
.wpb_accordion .wpb_accordion_section .ui-accordion-content {
 overflow:visible;padding:16px;padding:0;
}

.ui-accordion-header {padding:6px 0 9px 0;}
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { border: 0; outline: 0; text-decoration: none;list-style: none; }
.ui-helper-clearfix:after,
.avatar-block:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.ui-accordion .ui-icon { display:none; }
.ui-accordion .ui-accordion-header {cursor:pointer;font-weight:300;margin:0 0 11px 0;}
.ui-accordion .ui-accordion-header,
.ui-accordion .ui-accordion-header a {font-size:16px;font-size:1.6rem;padding:9px 10px;}

.ui-accordion .ui-accordion-header.ui-state-active .fa-plus:before,
.revealbox .reveal.ui-state-active .fa-plus:before {
  content:'\f068';
}

.wpb_accordion_section.blue-lite i {color:#3498db;}

.ui-accordion-header,
.ui-tabs .ui-tabs-nav li {border-width:1px;border-style:solid;border-color:transparent;}


/* :: jQuery Tabs Shortcode
--------------------------------------------- */

#primary-wrapper .ui-tabs-panel {
 height:inherit;
 position:relative;
 overflow:hidden;
}

.ui-tabs { position: relative; zoom: 1; }
.ui-tabs .ui-tabs-nav { margin: 0; padding: 0; }
.ui-tabs ul.ui-tabs-nav li { list-style: none; float: left; position: relative; margin: 0 11px 11px 0; padding: 0;}
.ui-tabs .ui-tabs-nav li a {
 padding: 5px 10px !important;
}
 
.ui-tabs .ui-tabs-nav li a { float: left; }
.ui-tabs .ui-tabs-nav li i {margin-right:5px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {z-index:1;}
.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; } 
.ui-tabs .ui-tabs-hide { display: none; }

.ui-tabs ul.ui-tabs-nav li {float:left;}
.ui-tabs .ui-tabs-nav li a {cursor:pointer;font-size:16px;font-size:1.6rem;font-weight:300;width:inherit;}

.wpb_tour .ui-tabs .ui-tabs-nav li, .wpb_tour .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
 clear: both;
 width: 100%;
 margin-right:0;
}

.wpb_tour .wpb_tab, .wpb_tour .wpb_tab.ui-tabs-panel {
 float: left;
 width: 70%;
}

.wpb_tour .ui-tabs .ui-tabs-nav {
 float: left;
 padding-right:14px;
 max-width:30%;
}

.wpb_tour_next_prev_nav {display:none;}

/* :: jQuery Reveal Shortcode
--------------------------------------------- */

.revealbox {
 position:relative;
 height:inherit;
 overflow:hidden;
 margin:2px;
 margin-left:0;
 padding:8px;
 padding-right:0;
 padding-left:0;
 clear:both;
}

.boxcontent .revealbox {
 margin-bottom:0;
}


.revealbox .ui-icon { position: absolute; left: 0;line-height:1.4em; }
.revealbox h4.reveal {cursor:pointer;font-size:16px;font-size:1.6rem;font-weight:300;padding-left:24px;margin-bottom:11px;}
.revealbox h4.reveal.ui-state-active {margin-top:0;}
 
.revealbox.center 	{margin-left:auto;margin-right:auto;display:table;clear:both;}
.revealbox.left 	{float:left;}
.revealbox.right 	{float:right;}

.revealbox .reveal-content { overflow:hidden;display:none; }
.revealbox.true .reveal-content { display:block; }

/* :: Drop Caps Shortcode
--------------------------------------------- */

span.dropcap {
 clear:both;
 float:left;
 font-size:25px;
 line-height:40px;
 width:40px;
 margin:0 5px 0 0;
 text-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 text-align:center;
 color:#fff;
 position:relative;
}


/* :: jQuery Tooltips Shortcode
--------------------------------------------- */

.tooltip-info  {cursor:pointer;overflow:visible;clear:both;display:inline-block;padding-top:5px;}
span.tooltip-icon {
 position:relative;
 display:inline-block;
 width:25px;
 height:25px;
 line-height:25px;
 text-align:center;
 color:#fff;
}

span.tooltip-icon:before {
 content: '\F129';
 margin-left:3px;
}

.tooltip {
 display:none;
 padding:15px;
 font-size:11px;
 text-shadow:none;
 min-width:100px;
 max-width:250px;
 color:#fff;
 background-color:#000;
 -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
 -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
 box-shadow: 0 0 10px rgba(0,0,0,0.6); 
 position:absolute;
 z-index:998;
}


.tooltip.light {
 color:#000;

 background-color:#fff; 
}

.socialicons .tooltip-info {padding-top:0;}
.socialicons .tooltip {min-width:30px;text-align:center;white-space:nowrap;}


/* :: Pricing Tables
--------------------------------------------- */


.nv-pricing-table .nv-pricing-plan {
 margin:14px 0 0 -1px;
 text-align:center;
 position:relative;
}

.nv-pricing-table .nv-pricing-plan:first-child {margin-left:1px;}

.nv-pricing-plan {
 float:left !important;	
}

.nv-pricing-container {
 padding:0;
}

span.price-value {font-size:42px;font-size:4.2rem;position:relative;}
.nv-pricing-table span.price-per,
.nv-pricing-table span.price-currency {color:rgba(255,255,255,0.7);font-size:14px;position:absolute;}

.nv-pricing-table span.price-currency {top:0;right:100%;margin-right:5px;margin-top:5px;}
.nv-pricing-table span.price-per {left:100%;margin-left:5px;bottom:0;white-space:nowrap;}

.nv-pricing-table.two-column .nv-pricing-plan,
.nv-pricing-table .nv-pricing-plan.two-column	{width:50%;}
.nv-pricing-table.three-column .nv-pricing-plan,
.nv-pricing-table .nv-pricing-plan.three-column	{width:33.3%;}
.nv-pricing-table.four-column .nv-pricing-plan,
.nv-pricing-table .nv-pricing-plan.four-column 	{width:25%;}
.nv-pricing-table.five-column .nv-pricing-plan,
.nv-pricing-table .nv-pricing-plan.five-column 	{width:20%;}
.nv-pricing-table.six-column .nv-pricing-plan,
.nv-pricing-table .nv-pricing-plan.six-column	{width:16.6%;}
.nv-pricing-table .one-column.nv-pricing-plan 	{width:100%;}

.nv-pricing-signup,
.nv-pricing-cost,
.nv-pricing-content {
 position:relative;
 padding:0;
}

.nv-pricing-cost { background-color:rgba(255,255,255,0.1); }
.nv-pricing-title h4 {padding:10px;margin:0;}
.nv-pricing-title.icon {padding-top:25px;}

.nv-pricing-signup .button-wrap,
.header-infobar .button-wrap,
.styledbox .button-wrap	{margin-bottom:0;}

.nv-pricing-plan.featured .button-wrap  {font-size:larger;}
.nv-pricing-plan.featured {
 margin-top:0;
 -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
 -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
 box-shadow: 0 0 18px rgba(0, 0, 0, 0.15); 
 z-index:1;
}

.nv-pricing-content ul li {
 margin:0;
 padding:10px 0;
 list-style:none;
}

.nv-pricing-content ul {margin:0;}

.nv-pricing-content ul li:last-child {
 background:none;
}

.nv-pricing-content p:last-child {margin-bottom:0;}

.nv-pricing-plan .nv-pricing-signup {
 padding:15px 10px;	
}

.nv-pricing-title,
.nv-pricing-plan .icon-wrap {
 color:#fff;	
 text-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.nv-pricing-table .icon-wrap {position:absolute;font-size:2em;width:50px;height:50px;line-height:50px;text-align:center;left:50%;top:0;margin-left:-25px;margin-top:-25px;}
 
.nv-pricing-title.blue-lite 	{background-color: #59ACE3;}
.nv-pricing-title.blue 			{background-color: #5198C9;}
.nv-pricing-title.black 		{background-color: #000;}
.nv-pricing-title.green 		{background-color: #4DBF7E;}
.nv-pricing-title.green-lite	{background-color: #52d78b;}
.nv-pricing-title.grey-lite 	{background-color: #CACFD2;}
.nv-pricing-title.grey 			{background-color: #99A3A4;}
.nv-pricing-title.orange-lite 	{background-color: #ED9845;}
.nv-pricing-title.orange 		{background-color: #DE7627;}
.nv-pricing-title.pink-lite 	{background-color: #B078C7;} 
.nv-pricing-title.pink 			{background-color: #A666BF;}
.nv-pricing-title.purple-lite 	{background-color: #536487;}
.nv-pricing-title.purple 		{background-color: #354C63;}
.nv-pricing-title.red-lite 		{background-color: #EE6F5F;}
.nv-pricing-title.red 			{background-color: #CF5F52;}
.nv-pricing-title.teal-lite 	{background-color: #40CAB0;}
.nv-pricing-title.teal 			{background-color: #3FB49D;}
.nv-pricing-title.white 		{background-color: #fff;}
.nv-pricing-title.yellow-lite 	{background-color: #F5D02A;}
.nv-pricing-title.yellow 		{background-color: #F7B132;}


/* :: Progress bar
---------------------------------------------------------- */

.vc_progress_bar .vc_single_bar {
 position: relative;
 margin-bottom: 11.666666666666666px;
}
.vc_progress_bar .vc_single_bar:last-child {
 margin-bottom: 0;
}
.vc_progress_bar .vc_single_bar .vc_label {
 display: block;
 padding: 0.5em 1em;
 position: relative;
 z-index: 1;
}
.vc_progress_bar .vc_single_bar.bar_blue .vc_bar {
 background-color: #0074CC;
}
.vc_progress_bar .vc_single_bar.bar_blue .vc_label {
 color: #ffffff;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar.bar_turquoise .vc_bar {
 background-color: #49afcd;
}
.vc_progress_bar .vc_single_bar.bar_turquoise .vc_label {
 color: #ffffff;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar.bar_green .vc_bar {
 background-color: #5bb75b;
}
.vc_progress_bar .vc_single_bar.bar_green .vc_label {
 color: #ffffff;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar.bar_orange .vc_bar {
 background-color: #faa732;
}
.vc_progress_bar .vc_single_bar.bar_orange .vc_label {
 color: #ffffff;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar.bar_red .vc_bar {
 background-color: #da4f49;
}
.vc_progress_bar .vc_single_bar.bar_red .vc_label {
 color: #ffffff;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar.bar_black .vc_bar {
 background-color: #414141;
}
.vc_progress_bar .vc_single_bar.bar_black .vc_label {
 color: #ffffff;
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_single_bar .vc_bar {
 display: block;
 position: absolute;
 height: 100%;
 background-color: #e0e0e0;
 width: 0%;
 top: 0;
 left: 0;
 transition: width 1s linear;
 -moz-transition: width 1s linear;
 -webkit-transition: width 1s linear;
 -o-transition: width 1s linear;
}
.vc_progress_bar .vc_single_bar .vc_bar.striped {
 background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
 background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
 background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
 background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
 background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
 -webkit-background-size: 40px 40px;
 -moz-background-size: 40px 40px;
 -o-background-size: 40px 40px;
 background-size: 40px 40px;
}
.vc_progress_bar .vc_single_bar .vc_bar.animated {
 -webkit-animation: progress-bar-stripes 2s linear infinite;
 -moz-animation: progress-bar-stripes 2s linear infinite;
 -ms-animation: progress-bar-stripes 2s linear infinite;
 -o-animation: progress-bar-stripes 2s linear infinite;
 animation: progress-bar-stripes 2s linear infinite;
}
@-webkit-keyframes progress-bar-stripes {
  from {
   background-position: 40px 0;
  }
  to {
   background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
   background-position: 40px 0;
  }
  to {
   background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
   background-position: 40px 0;
  }
  to {
   background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
   background-position: 0 0;
  }
  to {
   background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
   background-position: 40px 0;
  }
  to {
   background-position: 0 0;
  }
}

/* :: Pie Chart
--------------------------------------------- */

.vc_pie_chart {
  z-index: 0;
  text-align: center;
}
.vc_pie_chart .vc_pie_wrapper {
  position: relative;
  margin: 0 auto;
}
.vc_pie_chart canvas {
  position: relative;
  z-index: 1;
}
.vc_pie_chart .vc_pie_chart_value {
  font-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.vc_pie_chart[data-pie-color="wpb_button"] .vc_pie_chart_back {
  border-color: #f7f7f7;
}
.vc_pie_chart[data-pie-color="btn-primary"] .vc_pie_chart_back {
  border-color: #0088cc;
}
.vc_pie_chart[data-pie-color="btn-info"] .vc_pie_chart_back {
  border-color: #58b9da;
}
.vc_pie_chart[data-pie-color="btn-success"] .vc_pie_chart_back {
  border-color: #6ab165;
}
.vc_pie_chart[data-pie-color="btn-warning"] .vc_pie_chart_back {
  border-color: #ff9900;
}
.vc_pie_chart[data-pie-color="btn-danger"] .vc_pie_chart_back {
  border-color: #ff675b;
}
.vc_pie_chart[data-pie-color="btn-inverse"] .vc_pie_chart_back {
  border-color: #555555;
}
.vc_pie_chart_back {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 6px solid #f7f7f7;
  border-radius: 999px;
  border-radius: 50%;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* :: Animation
--------------------------------------------- */

.wpb_animate_when_almost_visible {
  opacity: 0;
}
.wpb_start_animation.wpb_top-to-bottom {
  -webkit-animation: wpb_ttb 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: wpb_ttb 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-animation: wpb_ttb 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: wpb_ttb 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
}
.wpb_start_animation.wpb_bottom-to-top {
  -webkit-animation: wpb_btt 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: wpb_btt 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-animation: wpb_btt 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: wpb_btt 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
}
.wpb_start_animation.wpb_left-to-right {
  -webkit-animation: wpb_ltr 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: wpb_ltr 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-animation: wpb_ltr 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: wpb_ltr 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
}
.wpb_start_animation.wpb_right-to-left {
  -webkit-animation: wpb_rtl 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: wpb_rtl 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-animation: wpb_rtl 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: wpb_rtl 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
}
.wpb_start_animation.wpb_appear {
  -webkit-animation: wpb_appear 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: wpb_appear 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-animation: wpb_appear 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: wpb_appear 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* Top to bottom keyframes */
@-webkit-keyframes wpb_ttb {
  0% {
    -webkit-transform: translate(0, -10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes wpb_ttb {
  0% {
    -moz-transform: translate(0, -10%);
    opacity: 0;
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes wpb_ttb {
  0% {
    -o-transform: translate(0, -10%);
    opacity: 0;
  }
  100% {
    -o-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes wpb_ttb {
  0% {
    transform: translate(0, -10%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
/* Bottom to top keyframes */
@-webkit-keyframes wpb_btt {
  0% {
    -webkit-transform: translate(0, 10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes wpb_btt {
  0% {
    -moz-transform: translate(0, 10%);
    opacity: 0;
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes wpb_btt {
  0% {
    -o-transform: translate(0, 10%);
    opacity: 0;
  }
  100% {
    -o-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes wpb_btt {
  0% {
    transform: translate(0, 10%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
/* Left to right keyframes */
@-webkit-keyframes wpb_ltr {
  0% {
    -webkit-transform: translate(-10%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes wpb_ltr {
  0% {
    -moz-transform: translate(-10%, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes wpb_ltr {
  0% {
    -o-transform: translate(-10%, 0);
    opacity: 0;
  }
  100% {
    -o-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes wpb_ltr {
  0% {
    transform: translate(-10%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
/* Right to left keyframes */
@-webkit-keyframes wpb_rtl {
  0% {
    -webkit-transform: translate(10%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes wpb_rtl {
  0% {
    -moz-transform: translate(10%, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes wpb_rtl {
  0% {
    -o-transform: translate(10%, 0);
    opacity: 0;
  }
  100% {
    -o-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes wpb_rtl {
  0% {
    transform: translate(10%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
/* Appear from center keyframes */
@-webkit-keyframes wpb_appear {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes wpb_appear {
  0% {
    -moz-transform: scale(0.5);
    opacity: 0.1;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes wpb_appear {
  0% {
    -o-transform: scale(0.5);
    opacity: 0.1;
  }
  100% {
    -o-transform: scale(1);
    opacity: 1;
  }
}
@keyframes wpb_appear {
  0% {
    transform: scale(0.5);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* :: e-Commerce
--------------------------------------------- */

.shop-cart span {
 height:auto;
 display:inline-block;
}

ul.dock-panel .shop-cart span a,
ul.dock-panel .shop-cart span a i {line-height:24px !important;}

.shop-cart .shop-cart-itemnum {
 font-weight:bold;
}

.dock-tab span.items-count {
 position:absolute;
 z-index:1;
 right:-12px;
 top:-5px;
 text-shadow:0 0 3px rgba(0,0,0,0.2);
 font-size:11px;
 font-family:Arial, Helvetica, sans-serif;
 -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
         box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}
.dock-tab span.items-count,
.dock-tab span.items-count a {width:18px;height:18px;line-height:16px;color:#fff;}


.shop-cart span.shop-cart-icon {
 margin-left:5px;
}

span.productprice {
 position:absolute;
 z-index:100;
 width:50px;
 height:50px;
 line-height:50px;
 text-align:center;
 top:5px;
 left:5px;
 font-size:16px;
 overflow:hidden;
}

span.productprice span.amount {color:#fff !important;}

.carousel span.productprice ins,
.gallery-wrap span.productprice ins {text-decoration:none;}

.carousel span.productprice del,
.carousel span.productprice span.from,
.gallery-wrap span.productprice del,
.gallery-wrap span.productprice span.from  {display:none;}

.woocommerce div.images img,.woocommerce li.product img {
 width:auto !important;
 height:auto !important;
}

.woocommerce-message::before, .woocommerce-error::before, .woocommerce-info::before {box-sizing:content-box;}

.stage-slider .container.frame .productprice {top:6px;}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


/* :: css3 transitions
--------------------------------------------- */

.isotope,
.isotope .isotope-item, 
.columns {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope,
.columns {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

@keyframes turn45
{
  0% { transform: scale(0.6); }
  100% { transform: scale(1); }
}

@-webkit-keyframes turn45 /* Safari and Chrome */
{
  0% { -webkit-transform: scale(0.6); }
  100% { -webkit-transform: scale(1); }
}

@keyframes zoom-in-out
{
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@-webkit-keyframes zoom-in-out /* Safari and Chrome */
{
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.1); }
  100% { -webkit-transform: scale(1); }
}

@keyframes imagezoom
{
  0% { transform: rotate(0deg) scale(1,1); }
  100% { transform: rotate(0.8deg) scale(1.15,1.15); }
}

@-webkit-keyframes imagezoom /* Safari and Chrome */
{
  0% { -webkit-transform: rotate(0deg) scale(1,1); }
  100% { -webkit-transform: rotate(0.8deg) scale(1.15,1.15); }
}

/* :: fancyBox Lightbox
--------------------------------------------- */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
 padding: 0;
 margin: 0;
 border: 0;
 outline: none;
 vertical-align: top;
}

.fancybox-wrap {
 position: absolute;
 top: 0;
 left: 0;
 z-index: 8020;
}

.fancybox-skin {
 position: relative;
 background: #f9f9f9;
 color: #444;
 text-shadow: none;
 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
         border-radius: 4px;
}

.fancybox-opened {
 z-index: 8030;
}

.fancybox-opened .fancybox-skin {
 -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
         box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
 position: relative;
}

.fancybox-inner {
 overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
 -webkit-overflow-scrolling: touch;
}

.fancybox-error {
 color: #444;
 font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
 margin: 0;
 padding: 15px;
 white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
 display: block;
 width: 100%;
 height: 100%;
}

.fancybox-image {
 max-width: 100%;
 max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
 background-image: url('images/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
 position: fixed;
 top: 50%;
 left: 50%;
 margin-top: -22px;
 margin-left: -22px;
 background-position: 0 -108px;
 opacity: 0.8;
 cursor: pointer;
 z-index: 8060;
}

#fancybox-loading div {
 width: 44px;
 height: 44px;
 background: url('images/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
 position: absolute;
 top: -18px;
 right: -18px;
 width: 36px;
 height: 36px;
 cursor: pointer;
 z-index: 8040;
}

.fancybox-nav {
 position: absolute;
 top: 0;
 width: 40%;
 height: 100%;
 cursor: pointer;
 text-decoration: none;
 background: transparent url('images/fancybox/blank.gif'); /* helps IE */
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 z-index: 8040;
}

.fancybox-prev {
 left: 0;
}

.fancybox-next {
 right: 0;
}

.fancybox-nav span {
 position: absolute;
 top: 50%;
 width: 36px;
 height: 34px;
 margin-top: -18px;
 cursor: pointer;
 z-index: 8040;
 visibility: hidden;
}

.fancybox-prev span {
 left: 10px;
 background-position: 0 -36px;
}

.fancybox-next span {
 right: 10px;
 background-position: 0 -72px;
}

.fancybox-nav:hover span {
 visibility: visible;
}

.fancybox-tmp {
 position: absolute;
 top: -9999px;
 left: -9999px;
 visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
 overflow: hidden;
}

.fancybox-overlay {
 position: absolute;
 top: 0;
 left: 0;
 overflow: hidden;
 display: none;
 z-index: 8010;
 background: url('images/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
 position: fixed;
 bottom: 0;
 right: 0;
}

.fancybox-lock .fancybox-overlay {
 overflow: auto;
 overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
 visibility: hidden;
 font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
 position: relative;
 text-shadow: none;
 z-index: 8050;
}

.fancybox-opened .fancybox-title {
 visibility: visible;
}

.fancybox-title-float-wrap {
 position: absolute;
 bottom: 0;
 right: 50%;
 margin-bottom: -35px;
 z-index: 8050;
 text-align: center;
}

.fancybox-title-float-wrap .child {
 display: inline-block;
 margin-right: -100%;
 padding: 2px 20px;
 background: transparent; /* Fallback for web browsers that doesn't support RGBa */
 background: rgba(0, 0, 0, 0.8);
 -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
         border-radius: 15px;
 text-shadow: 0 1px 2px #222;
 color: #FFF;
 font-weight: bold;
 line-height: 24px;
 white-space: nowrap;
}

.fancybox-title-outside-wrap {
 position: relative;
 margin-top: 10px;
 color: #fff;
}

.fancybox-title-inside-wrap {
 padding-top: 10px;
}

.fancybox-title-over-wrap {
 position: absolute;
 bottom: 0;
 left: 0;
 color: #fff;
 padding: 10px;
 background: #000;
 background: rgba(0, 0, 0, .8);
}

.cufon { }

@media only screen and (min-width: 1400px) {
 .slider-wrap,
 .main-wrap,
 #primary-wrapper .nv-sortable.row,
 .row {max-width:1050px;} 
 
 #primary-wrapper.tva-wide-layout .nv-sortable.row {max-width:100%;}
 
}