/* -- functional styling */
.zoomflow {
  position: relative;
  width: 100%;
  height: 200px;
  outline: none;
  overflow: hidden;
  box-sizing:content-box;
  -moz-box-sizing: content-box !important;
  -ms-box-sizing:content-box;
  padding-bottom:45px; }

.zoomflow .the-structure-holder {
  position: relative;
  width: 100%;
  height: 100%; }

.zoomflow .items {
  display: none; }

.zoomflow .item-tobe {
  position: relative; }

.zoomflow .the-items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.zoomflow .captionCon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.zoomflow .captionCon > .caption {
  position: absolute;
  min-width: 100px;
  color: #fff; }

.zoomflow .controlsCon {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 40px;
  margin-top: 0; }

/* -- estethic styling */
.zoomflow .the-items {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.zoomflow.loaded .preloader {
  visibility: hidden;
  opacity: 0; }

.zoomflow.loaded .the-items {
  opacity: 1; }

.zoomflow .preloader {
  width: 128px;
  height: 40px;
  background: transparent url(img/preloader.gif) center center no-repeat;
  margin-left: -25px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  left: 50%; }

.zoomflow .item {
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  -moz-transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1) 0s;
  -webkit-transition: all 0.7s cubic-bezier(0.26, 0, 0.07, 1) 0s;
  -o-transition-property: left, top, transform, transform-origin, visibility, opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: left, top, transform, transform-origin, visibility, opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  transform-origin: center center;
  transform: perspective(600px) rotateY(0deg);
  outline: 1px solid transparent;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 20%; }
  
.zoomflow .item-inner {position:absolute;width:100%;height:100%;overflow:hidden;top:0;left:0;}

.zoomflow .item.non-animate {
  transition-property: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: none;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: none;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: none;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: none;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.zoomflow .item.currItem {
  transform: perspective(600px) rotateY(0deg) scale(1);
  -webkit-transform: perspective(600px) rotateY(0deg ) scale(1);
  left: 50%;
  top: 50%;
  z-index: 7;
  opacity: 1;
  cursor: auto;
  visibility: visible;
  opacity: 1;
  box-shadow: 25px 0px 25px -25px rgba(0,0,0,0.3), -25px 0px 25px -25px rgba(0,0,0,0.3);
  -webkit-box-shadow: 25px 0px 25px -25px rgba(0,0,0,0.3), -25px 0px 25px -25px rgba(0,0,0,0.3);
  transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -webkit-transition-delay: 0.15s;
  -o-transition-delay: 0.15s; }

.zoomflow .item.prevItem {
  transform: perspective(600px) rotateY(15deg) scale(0.7,0.7);
  -moz-transform: perspective(600px) rotateY(15deg) scale(0.7,0.7);
  -webkit-transform: perspective(600px) rotateY(15deg) scale(0.7,0.7);
  -ms-transform: perspective(600px) rotateY(15deg) scale(0.7,0.7);
  left: 20%;
  top: 50%;
  z-index: 4;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  -moz-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s; }

.non_CSS3 .zoomflow .item.prevItem {z-index:5;}

.zoomflow .item.nextItem {
  transform: perspective(600px) rotateY(-15deg) scale(0.7);
  -moz-transform: perspective(600px) rotateY(-15deg) scale(0.7);
  -webkit-transform: perspective(600px) rotateY(-15deg) scale(0.7);
  -ms-transform: perspective(600px) rotateY(-15deg) scale(0.7);
  left: 80%;
  top: 50%;
  z-index: 5;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
   -moz-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;  }
  
 .non_CSS3 .zoomflow .item.nextItem {z-index:4;}

.zoomflow .item.nextnextItem {
  transform: perspective(600px) rotateY(0deg) scale(0.7);
  -webkit-transform: perspective(600px) rotateY(0deg) scale(0.7);
  position: absolute;
  left: 75%;
  top: 50%;
  z-index: 4; }

.zoomflow .item.type-image .the-bg {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px; }

.zoomflow .item.type-image .da-shadow {
  top: 100%;
  position: absolute;
  width: 100%;
  border-radius: 10px;
  pointer-events: none;
  z-index: 0; }

.zoomflow .controlsCon > .arrow-left, .zoomflow .controlsCon > .arrow-right {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -45px;
  top: 45%;
  margin-top: -35px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  text-align:center;
 }
 
 .zoomflow .item.nextItem a.action-icons, .zoomflow .item.prevItem a.action-icons {
	 display:none;
 }


.zoomflow .item .controlsCon > .arrow-left, .zoomflow .item .controlsCon > .arrow-right {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  zoom:1; }

.zoomflow .controlsCon > .fa-lg {font-size:15px;font-size:1.5em;}

.zoomflow .controlsCon > .arrow-left, .zoomflow .controlsCon > .arrow-right {
 -moz-border-radius: 100%;
 -webkit-border-radius: 100%;
 border-radius: 100%; 
}

.zoomflow .controlsCon i {line-height:40px;}

.zoomflow .controlsCon i:before {display:inline-block;}

.zoomflow .controlsCon > .arrow-right {
  left: auto;
  right: -45px;
  top: 45%;
}

.zoomflow:hover .item.currItem .controlsCon > .arrow-left, .zoomflow:hover .item.currItem .controlsCon > .arrow-right {
  opacity: 0.95;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)"; }

.zoomflow.mode-only-two .controlsCon > .arrow-left {
  display: none; }